<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="example-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </div>
                    <form [formGroup]="formControl">
                        <div class="row">
                            <div class="col-lg-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>Trạng thái</mat-label>
                                    <mat-select placeholder="Hotel" formControlName="status">
                                        <mat-option *ngFor="let status of selectList" [value]="status">
                                            {{status}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-lg-3">
                                <mat-form-field appearance="fill">
                                    <mat-label>số sao</mat-label>
                                    <mat-select placeholder="Hotel" formControlName="starHotel">
                                        <mat-option value="1">
                                            1 sao
                                        </mat-option>
                                        <mat-option value="2 sao">
                                            2 sao
                                        </mat-option>
                                        <mat-option value="3 sao">
                                            3 sao
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </form>
                    <div class="card-body">
                        <mat-table [dataSource]="dataSource" matSort>
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                <mat-cell
                                        *matCellDef="let row ; index as i"> {{paginator.pageSize * paginator.pageIndex + i + 1}}  </mat-cell>
                            </ng-container>

                            <!-- Progress Column -->
                            <ng-container matColumnDef="user">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.user.email}}</mat-cell>
                            </ng-container>


                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Tên khách sạn
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="address">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Địa chỉ</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.address}}</mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="starHotel">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Chất lượng
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.starHotel}}</mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="sqm">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Mét vuông
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.sqm}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="totalRoom">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Số loại phòng
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.totalRoomNumber}} </mat-cell>
                            </ng-container>

                            <!-- Name Column -->
                            <ng-container matColumnDef="status">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>trạng thái
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.status}} </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="active">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Xét duyệt
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-icon-button style="color: green">
                                        <mat-icon>check_circle</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="block">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Khóa KS</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-icon-button style="color: yellow">
                                        <mat-icon>lock</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="add">
                                <mat-header-cell *matHeaderCellDef>
                                    <button mat-icon-button color="warn"
                                            (click)="this.route.navigate(['/hotel-access'])">
                                        <mat-icon>add</mat-icon>
                                    </button>
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button mat-icon-button color="warn"
                                            (click)="this.route.navigate(['/hotelEdit',row._id])">
                                        <mat-icon>create</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
