<div style="width: 100%; height: 130px; background-color: white"></div>
<div class="main-content">
    <div class="container-fluid" style="margin: 0; padding: 0; background-color: white">
        <div class="row" style="margin: 0; padding: 0">
            <div class="col-lg-1"></div>
            <div class="col-lg-3">
                <div class="row">
                    <div class="col nav-item">
                        <div style="padding: 1rem 0 0.5rem;" class="row">Trang chủ</div>
                        <div style="padding: 1rem 0 0.5rem;" class="row">Về Booking Hotel</div>
                        <div style="padding: 1rem 0 0.5rem;" class="row">Trang chủ</div>
                        <div style="padding: 1rem 0 0.5rem;" class="row">Trang chủ</div>
                        <div style="padding: 1rem 0 0.5rem;" class="row">Trang chủ</div>
                        <div style="padding: 1rem 0 0.5rem;" class="row">Trang chủ</div>
                        <div style="padding: 1rem 0 0.5rem;" class="row">Trang chủ</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col">
                        <h2>Về Booking Hotel</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col content-text">
                        <p>Được thành lập vào năm 1996 ở Amsterdam, Booking.com đã phát triển từ một nhóm khởi nghiệp
                            nhỏ ở Hà Lan để trở thành một trong các công ty hàng đầu thế giới cung cấp các dịch vụ du
                            lịch dựa trên nền tảng số hóa. Là một phần của Booking Holdings Inc. (NASDAQ: BKNG), sứ mệnh
                            của Booking.com là giúp mọi người trải nghiệm thế giới dễ dàng hơn.</p>
                        <p>Bằng cách đầu tư vào công nghệ giúp loại bỏ những phiền toái khi du lịch, Booking.com kết nối
                            hàng triệu du khách với các trải nghiệm đáng nhớ, nhiều lựa chọn vận chuyển và các chỗ nghỉ
                            tuyệt vời - từ dạng nhà ở cho đến khách sạn và nhiều hơn nữa. Là một trong những thị trường
                            du lịch lớn nhất thế giới cho cả những thương hiệu lớn và doanh nghiệp ở mọi quy mô,
                            Booking.com giúp các chỗ nghỉ trên khắp thế giới kết nối với khách hàng toàn cầu và phát
                            triển doanh nghiệp của họ.</p>
                        <p>Booking.com hỗ trợ 43 ngôn ngữ và cung cấp tổng cộng hơn 28 triệu đăng ký chỗ nghỉ theo báo
                            cáo, trong đó có hơn 6,2 triệu là đăng ký dạng nhà ở, căn hộ và các chỗ nghỉ độc đáo khác.
                            Dù bạn chu du đến phương trời nào hay muốn chinh phục thử thách gì, Booking.com sẽ tạo mọi
                            điều kiện thuận lợi và luôn bên bạn với bộ phận hỗ trợ khách hàng 24/7.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 0; padding: 0; height: 300px; background-color: dodgerblue"></div>
        <div class="row" style="margin: 50px 0 0 0; padding: 0">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
                <p style="font-size: 1.5rem;line-height: 1.2;">Booking hotel đem đến cho bạn</p>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <strong>Sự lựa chọn tuyệt vời</strong>
                    <p>Dù bạn muốn ở tại một căn hộ thanh lịch trong thành phố, một resort sang trọng ven biển hay một
                        nhà nghỉ B&B ấm cúng tại vùng quê, Booking.com đều có thể cung cấp cho bạn vô số lựa chọn phong
                        phú - tất cả trong cùng một nơi</p>
                </div>
                <div class="row">
                    <strong>Mức giá thấp</strong>
                    <p>Booking.com đảm bảo việc cung cấp cho bạn giá phòng tốt nhất có thể. Và với lời hứa khớp giá của
                        chúng tôi, bạn luôn có thể cảm thấy an tâm rằng mình luôn nhận được các ưu đãi tuyệt vời.</p>
                </div>
                <div class="row">
                    <strong>Xác nhận tức thì</strong>
                    <p>Tại Booking.com, mỗi đặt phòng đều được xác nhận ngay tức thì. Sau khi bạn tìm thấy chỗ nghỉ lý
                        tưởng của mình, bạn chỉ cần nhấp vài cú chuột nữa là xong!</p>
                </div>
                <div class="row">
                    <strong>Không phí đặt phòng</strong>
                    <p>Chúng tôi không thu bạn phí đặt phòng hay phí quản lý. Và trong nhiều trường hợp, bạn có thể hủy
                        đặt phòng của mình miễn phí.</p>
                </div>
                <div class="row">
                    <strong>Đặt phòng an toàn</strong>
                    <p>Chúng tôi xử lý hàng trăm ngàn giao dịch qua nền tảng bảo mật của mình mỗi ngày và luôn tìm cách
                        đảm bảo thông tin cá nhân của bạn theo những tiêu chuẩn cao nhất. Để biết thêm chi tiết, vui
                        lòng xem Chính sách An toàn và Bảo mật của chúng tôi.</p>
                </div>
                <div class="row">
                    <strong>Hỗ trợ 24/7</strong>
                    <p>Dù bạn vừa đặt phòng hay đang tận hưởng chuyến đi của mình, đội ngũ nhân viên chăm sóc khách hàng
                        của chúng tôi luôn đứng về phía bạn và sẵn sàng trả lời các thắc mắc bằng hơn 40 ngôn ngữ, bất
                        kỳ lúc nào. Đừng quên xem thêm mục Những câu hỏi thường gặp dành cho du khách của chúng tôi.</p>
                </div>
            </div>
        </div>
        <div class="row" style="margin: 80px 0 0 0; padding: 0">
            <div class="col-lg-2"></div>
            <div class="col-lg-3">
                <p style="font-size: 1.5rem;line-height: 1.2;">Mang lại giá trị cho các đối tác chỗ nghỉ</p>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <p>Tại Booking.com, chúng tôi tin rằng mọi chỗ nghỉ tuyệt vời đều xứng đáng được du khách biết tới.
                        Đó là vì sao chúng tôi tạo điều kiện cho các nhà cung cấp chỗ nghỉ trên khắp thế giới tiếp thị
                        chỗ nghỉ của họ, tiếp cận khách hàng mới và phát triển hoạt động kinh doanh thông qua các kênh
                        của chúng tôi một cách nhanh chóng và dễ dàng.</p>
                </div>
            </div>
        </div>
    </div>
</div>
