<div class="container">
    <div class="row">
        <div class="col-7">
            <div class="row hover" style="border-bottom: 0.5px solid lightgray; padding: 5px 0; ">
                <div class="col-6 room-count1">
                    <a>Đi một mình</a>
                </div>
                <div class="col-6 room-count">
                    <a>1 phòng,1 người lớn</a>
                </div>
            </div>
            <div class="row hover" style="border-bottom: 0.5px solid lightgray; padding: 5px 0; ">
                <div class="col-6 room-count1">
                    <a>Cặp đôi/2 người</a>
                </div>
                <div class="col-6 room-count">
                    <a>1 phòng,2 người lớn</a>
                </div>
            </div>
            <div class="row hover" style="border-bottom: 0.5px solid lightgray; padding: 5px 0; ">
                <div class="col-6 room-count1">
                    <a>Theo gia đình</a>
                </div>
                <div class="col-6 room-count">
                    <a>1 phòng,2 người lớn</a>
                </div>
            </div>
            <div class="row hover" style="border-bottom: 0.5px solid lightgray; padding: 5px 0; ">
                <div class="col-6 room-count1">
                    <a>Theo đoàn/nhóm</a>
                </div>
                <div class="col-6 room-count">
                    <a>1 phòng,2 người lớn</a>
                </div>
            </div>
            <div class="row hover" style="border-bottom: 0.5px solid lightgray; padding: 5px 0; ">
                <div class="col-6 room-count1">
                    <a>Đi công tác</a>
                </div>
                <div class="col-6 room-count">
                    <a>1 phòng,1 người lớn</a>
                </div>
            </div>
        </div>
        <div class="col-5">

        </div>
    </div>
</div>
<button mat-raised-button (click)="onCloseDialogNoData()" color="primary" class="Update-btn" style="float: right;">No
    Thanks
</button>
