<div class="wrapper">
    <div class="sidebar" data-color="danger" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar></app-sidebar>
        <div class="sidebar-background" style="background-image: url(./assets/img/sidebar-4.jpg)"></div>
    </div>
    <div class="main-panel">
        <app-navbar></app-navbar>
        <router-outlet (activate)="onActivate($event)"></router-outlet>
        <div *ngIf="isMaps('maps')">
            <app-footer></app-footer>
        </div>
    </div>
    <div class="fixed-plugin" style="display: none">
        <div class="dropdown show-dropdown open show">
            <a href="#" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-cog fa-lg"> </i>
            </a>
            <ul class="dropdown-menu show" x-placement="bottom-start"
                style="position: absolute; top: 41px; left: -231px; will-change: top, left;">
                <li class="header-title">{{ "side.bar.filter" | translate }} </li>
                <li class="adjustments-line">
                    <a href="javascript:void(0)" class="switch-trigger active-color">
                        <div class="ml-auto mr-auto">
                            <span class="badge filter badge-purple" data-color="purple"></span>
                            <span class="badge filter badge-azure" data-color="azure"></span>
                            <span class="badge filter badge-green" data-color="green"></span>
                            <span class="badge filter badge-orange" data-color="orange"></span>
                            <span class="badge filter badge-danger active" data-color="danger"></span>
                        </div>
                        <div class="clearfix"></div>
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li class="header-title">Images</li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="./assets/img/sidebar-1.jpg" alt="">
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="./assets/img/sidebar-2.jpg" alt="">
                        <div class="ripple-container"></div>
                    </a>
                </li>
                <li>
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="./assets/img/sidebar-3.jpg" alt="">
                    </a>
                </li>
                <li class="active">
                    <a class="img-holder switch-trigger" href="javascript:void(0)">
                        <img src="./assets/img/sidebar-4.jpg" alt="">
                    </a>
                </li>
                <!--                <li class="button-container">-->
                <!--                    <div>-->
                <!--                        <button class="btn btn-info btn-block btn-fill" data-toggle="modal" data-target="#buy">-->
                <!--                            Download Free-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </li>-->
                <!--                <li class="button-container">-->
                <!--                    <div>-->
                <!--                        <button class="btn btn-warning btn-block btn-fill" data-toggle="modal" data-target="#buy">-->
                <!--                            Buy Pro-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </li>-->
                <li class="button-container text-center" routerLinkActive="active">
                    <div>
                        <a class="btn btn-default btn-block"
                           href="https://demos.creative-tim.com/material-dashboard-angular2/#/documentation/tutorial">
                            View Documentation
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="fixed-plugin" style="margin-top: 20%;">
        <div class="dropdown show-dropdown open show">
            <a href="#" data-toggle="dropdown" aria-expanded="true">
                <i class="fa fa-comment fa-lg"> </i>
            </a>
            <ul class="dropdown-menu show" x-placement="bottom-start"
                style="position: absolute; top: -41px; left: -231px; will-change: top, right;">
                <li class="header-title" (click)="reponse()">{{ "side.bar.chat" | translate }} </li>
                <li class="adjustments-line" style="padding-top: 0;">
                    <a href="javascript:void(0)" class="switch-trigger active-color" style="padding-top: 0;float: left;" >
                        <div class="ml-auto mr-auto" style="overflow-x: auto;padding-top: 0;
                            white-space: nowrap; "  >
                            <a style="background: none; position: relative;border-bottom: none; max-width: 28px;"
                               data-toggle="tooltip" title="{{user.name}}" *ngFor="let user of userChatList" (click)="findMessage(user._id,user.imageUrl)">
                                <img src="http://localhost:8000/api/images/{{user.imageUrl}}" alt="sunil"
                                     style="width: 25px;height: 25px; border-radius: 50%; margin-right: 2px;"/><span
                                    style="position: relative;right: 5px;color: #74e4a2;font-size: 30px;"
                                     *ngIf="user.online">&bull;</span></a>

                        </div>
                    </a>
                </li>
                <li class="button-container text-center" style="max-height: 140px;overflow-y: auto;" >
                    <div class="messaging">
                        <div class="inbox_msg">
                            <div class="mesgs">
                                <div class="msg_history" id="msg_history">
                                    <!--                                    <div class="incoming_msg">-->
                                    <!--                                        <div class="incoming_msg_img"><img-->
                                    <!--                                                src="https://ptetutorials.com/images/user-profile.png" alt="sunil">-->
                                    <!--                                        </div>-->
                                    <!--                                        <div class="received_msg">-->
                                    <!--                                            <div class="received_withd_msg">-->
                                    <!--                                                <p>Test which is a new approach to have all-->
                                    <!--                                                    solutions</p>-->
                                    <!--                                                <span class="time_date"> 11:01 AM    |    June 9</span></div>-->
                                    <!--                                        </div>-->
                                    <!--                                    </div>-->

                                    <!--                                    <div class="outgoing_msg">-->
                                    <!--                                        <div class="sent_msg" *ngFor=" let mess of userMessages">-->
                                    <!--                                            <p>{{mess.message}}</p>-->
                                    <!--                                            <span class="time_date"> {{mess.time}}</span></div>-->
                                    <!--                                    </div>-->
                                </div>

                            </div>
                        </div>
                    </div>
                </li>
                <li class="button-container text-center" *ngIf="toUser">
                    <div class="type_msg">
                        <div class="input_msg_write">
                            <input type="text" [(ngModel)]="message" class="write_msg" placeholder="Type a message"/>
                            <button class="msg_send_btn" type="button" (click)="sendMessage($event)"><i
                                    class="fa fa-paper-plane-o"
                                    aria-hidden="true"></i></button>
                        </div>
                    </div>
                </li>
                <!--                <li class="button-container">-->
                <!--                    <div>-->
                <!--                        <button class="btn btn-info btn-block btn-fill" data-toggle="modal" data-target="#buy">-->
                <!--                            Download Free-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </li>-->
                <!--                <li class="button-container">-->
                <!--                    <div>-->
                <!--                        <button class="btn btn-warning btn-block btn-fill" data-toggle="modal" data-target="#buy">-->
                <!--                            Buy Pro-->
                <!--                        </button>-->
                <!--                    </div>-->
                <!--                </li>-->
                <!--                <li class="button-container text-center" routerLinkActive="active">-->
                <!--                    <div>-->
                <!--                        <a class="btn btn-default btn-block"-->
                <!--                           href="https://demos.creative-tim.com/material-dashboard-angular2/#/documentation/tutorial">-->
                <!--                            View Documentation-->
                <!--                        </a>-->
                <!--                    </div>-->
                <!--                </li>-->
            </ul>
        </div>
    </div>
</div>
<!-- Buy-Modal-angular -->
<div class="modal modal-angular fade" id="buy" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="margin-top">
                    Free Version
                </h4>
                <div class="separator"></div>
                <a href="https://www.creative-tim.com/product/material-dashboard" class="modal-button" target="_blank">
                    <div class="wrapper-card">
                        <div class="image-container">
                            <img src="./assets/img/html.png" alt="unloaded">
                        </div>
                        Html5
                        <div class="separator"></div>
                        <div class="product-type">
                            FREE
                        </div>
                    </div>
                </a>
                <a href="https://www.creative-tim.com/product/material-dashboard-angular2" class="modal-button"
                   target="_blank">
                    <div class="wrapper-card">
                        <div class="image-container image-angular-cli">
                            <img src="./assets/img/angular.png" alt="unloaded">
                        </div>
                        Angular
                        <div class="separator"></div>
                        <div class="product-type">
                            FREE
                        </div>
                    </div>
                </a>
                <h4>
                    PRO Version
                </h4>
                <div class="separator"></div>
                <a href="https://www.creative-tim.com/product/material-dashboard-pro" class="modal-button"
                   target="_blank">
                    <div class="image-container">
                        <img src="./assets/img/html.png" alt="unloaded">
                    </div>
                    Html5
                    <div class="separator"></div>
                    <div class="price">
                        from
                        <span>
                        49
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    </div>
                </a>
                <a href="https://www.creative-tim.com/product/material-dashboard-pro-angular2" class="modal-button"
                   target="_blank">
                    <div class="image-container image-angular-cli">
                        <img src="./assets/img/angular.png" alt="unloaded">
                    </div>
                    Angular
                    <div class="separator"></div>
                    <div class="price">
                        from
                        <span>
                        59
                        <i class="fa fa-usd" aria-hidden="true"></i>
                    </span>
                    </div>
                </a>
            </div>
        </div>
    </div>

</div>
