<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form validate-form" [formGroup]="registerForm" (ngSubmit)="loginUser()">
        <span class="login100-form-title p-b-34" *ngIf="login_check">
          Đăng nhập trang quản lý
        </span>
        <span class="login100-form-title p-b-34"  *ngIf="!login_check">
<!--          {{ "user.forget.password" | translate }}-->
          QUÊN MẬT KHẨU
        </span>
        <div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">

          <input id="first-name" class="input100" formControlName="email" type="text" name="email" placeholder="Email">
          <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password"  *ngIf="login_check">

          <input class="input100" type="password" formControlName="password" name="pass" placeholder="Password">

          <span class="focus-input100"></span>
        </div>

        <div class="container-login100-form-btn">
          <a class="login100-form-btn" (click)="loginUser()" type="submit" style="color: white;" *ngIf="login_check">
            ĐĂNG NHẬP
          </a>
        </div>
        <div class="container-login100-form-btn">
          <a class="login100-form-btn" (click)="getNewPassword()" type="submit" style="color: white;" *ngIf="!login_check">
            LẤY MẬT KHẨU MỚI
          </a>
        </div>
        <div class="w-full text-center p-t-27 p-b-239" *ngIf="login_check">
          <span class="txt1" (click)="forget_password()" style="cursor: pointer;">
            Quên mật khẩu
          </span>
        </div>
        <div class="w-full text-center p-t-27 p-b-239"*ngIf="!login_check" >
          <span class="txt2" (click)="forget_password()">
            ĐĂNG NHẬP
          </span>
        </div>
        <div class="w-full text-right" style="margin-left: 5px;" >
          <a class="txt3" [routerLink]="['/user-register']">
            Đăng ký
          </a>
        </div>
        <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">
          {{ errorMessage }}
        </p>
      </form>

      <div class="login100-more" style="background-image: url('assets/img/bg-01.jpg');"></div>
    </div>
  </div>
</div>
