<div style="width: 100%; height: 130px; background-color: white"></div>
<div class="main-content">
    <div class="container-fluid" style="margin: 0; padding: 0; background-color: white">
        <div class="row" style="margin: 0; padding: 0">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col nav-item">
                        <div routerLink="/" style="font-size: 1.3em" class="row hehe">Trang chủ</div>
                        <div routerLink="/about" class="row hehe">&rsaquo; Về Booking Hotel</div>
                        <div style="color: #3d5afe;" class="row hehe">&rsaquo; Quy định</div>
                        <div routerLink="/policy" class="row hehe">&rsaquo; Chính sách</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col">
                        <h2>Qui định</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col content-text">
                        <p>Với việc sử dụng các thông tin, dịch vụ, sản phẩm trên website {{URL}} đồng
                            nghĩa với việc bạn đã
                            chấp nhận hoàn toàn các quy định sử dụng website dưới đây.&nbsp;Vui lòng đọc kỹ các quy định
                            sử dụng
                            website dưới đây trước khi quyết định sử dụng thông tin, dịch vụ, sản phẩm của chúng
                            tôi.</p>

                        <p><strong>Đăng ký sử dụng và đăng nhập tài khoản</strong></p>

                        <p>Khi đăng ký sử dụng tài khoản trên {{URL}}, bạn cần cung cấp cho website các
                            thông tin cá nhân chính
                            xác, đầy đủ và mới nhất. Khi chọn mật khẩu cho tài khoản truy nhập, hãy chọn mật khẩu theo
                            cách mà
                            không ai có thể dễ dàng đoán được.</p>

                        <p>Sau khi đăng ký, bạn chịu trách nhiệm bảo quản mật khẩu và&nbsp;không nên tiết lộ mật khẩu
                            cho bất cứ
                            ai hoặc ủy quyền, cho phép bất cứ người nào sử dụng vào bất cứ mục đích nào.
                        </p>

                        <p>Nếu phát hiện ra bất cứ người nào biết mật khẩu hoặc sử dụng mật khẩu của mình để truy nhập
                            và sử
                            dụng các dịch vụ trên trang web, bạn cần thông báo ngay lập tức cho chúng tôi và thay đổi
                            mật khẩu
                            hoặc yêu cầu website hỗ trợ cài đặt mật khẩu mới.</p>

                        <p><strong>Quyền thu thập và sử dụng thông tin</strong></p>

                        <p>Khi bạn truy cập và sử dụng trang web, {{URL}} có thể thu thập và lưu trữ các
                            thông tin như các số
                            liệu
                            thống kê quá trình truy cập, các thông tin cá nhân cung cấp cho {{URL}}&nbsp;khi
                            đăng ký… Các thông tin
                            cá nhân khách hàng cung cấp bao gồm họ tên, số điện thoại, địa chỉ email, địa chỉ chỗ ở…
                            Chúng tôi có
                            thể sử dụng các thông tin này vào việc lập kế hoạch, nghiên cứu, thiết kế và tuyên truyền
                            các dịch vụ
                            hoặc cung cấp thông tin cho các cơ quan pháp luật theo yêu cầu của Luật pháp hoặc của Toà
                            án.</p>

                        <p><strong>Quy định về nội dung thông tin trên website</strong></p>

                        <p>Người sử dụng chịu trách nhiệm về bất cứ nội dung thông tin gửi lên hoặc truyền đi qua trang
                            web
                            của {{URL}}&nbsp;và không được phép hoặc cho phép người khác tạo ra bất cứ sự
                            khó
                            chịu, phiền toái,
                            quấy
                            rầy nào đối với {{URL}}&nbsp;cũng như đối với bất kỳ khách hàng hoặc người sử
                            dụng khác.</p>

                        <p>Bạn cam kết sử dụng trang web trong chừng mực phù hợp với tất cả các luật và quy định hiện
                            hành và
                            đồng ý không sử dụng trang web để gửi lên, truyền đi, phân tán, liên kết các nội dung
                            mà:</p>

                        <ul>
                            <li>Vi phạm các luật, các quy định của Chính Phủ Việt nam.</li>
                            <li>Vi phạm các quy định về bản quyền, nhãn hiệu, sở hữu trí tuệ, quyền sở hữu cá nhận.</li>
                            <li>Chứa các thông tin có tính khiêu dâm, kích động, phỉ báng.</li>
                            <li>Phá hoại tính an toàn, tính đồng nhất, các giao diện của trang web.</li>
                        </ul>

                        <p>Bất cứ vi phạm nào đối với các quy định trên, {{URL}}&nbsp;sẽ huỷ bỏ quyền sử
                            dụng website của người
                            vi
                            phạm. Đồng thời tuỳ theo mức độ vi phạm mà người sử dụng sẽ phải chịu trách nhiệm trước pháp
                            luật</p>

                        <p><strong>Tuyên bố từ chối</strong></p>

                        <p>{{URL}} có các biện pháp bảo mật cho trang web và các dịch vụ cung cấp. Tuy
                            nhiên, {{URL}}&nbsp;không
                            thể
                            đảm bảo tuyệt đối trang web khỏi các hành động phá hoại hoặc các loại virus từ Internet.</p>

                        <p>{{URL}} không có bất cứ bảo đảm nào hoặc tuyên bố nào về tính chính xác hay
                            hoàn
                            thiện của bất kỳ
                            thông
                            tin nào trên website này. Định kỳ {{URL}} &nbsp;sẽ bổ sung, thay đổi, cải tiến
                            hoặc cập nhật các tính
                            năng và thông tin trên website này mà không cần báo trước. Trong bất kỳ trường hợp nào,
                            {{URL}}&nbsp;sẽ
                            không chịu trách nhiệm về bất cứ mất mát, thiệt hại, trách nhiệm mang lại do việc sử dụng
                            thông tin từ
                            website này, cũng như bất kỳ lỗi, thiếu sót, gián đoạn hoặc chậm trễ về các thông tin.</p>

                        <p>Việc sử dụng thông tin tại website này là hoàn toàn tùy thuộc vào rủi ro riêng của người sử
                            dụng.
                            Trong bất kỳ trường hợp nào, {{URL}} &nbsp;hoặc các đại diện của mình sẽ không
                            chịu trách nhiệm đối với
                            bất kỳ thiệt hại trực tiếp, gián tiếp, ngẫu nhiên, đặc biệt hoặc tất yếu nào.</p>

                        <p>Trang web của {{URL}} bao gồm các đường liên kết đến các trang web khác không
                            thuộc quyền sở hữu hoặc
                            kiểm soát của {{URL}} &nbsp;hoặc chứa các thông tin do các bên thứ ba cung
                            cấp. Do
                            vậy, {{URL}} &nbsp;không
                            chịu trách nhiệm về các lỗi hoặc thiếu sót trong thông tin trích dẫn và các nội dung, quyền
                            riêng tư,
                            tính bảo mật của các trang web liên kết đến cũng như các thiệt hại nếu có khi bạn truy nhập,
                            sử dụng
                            các trang web đó.</p>

                        <p> * Từ chối công thức
                            Chúng tôi sẽ từ chối những công thức có những nội dung như sau:
                            - Spam dưới mọi hình thức
                            - Đăng tải các hình ảnh, nội dung không liên quan đến món ăn chay
                            - Nội dung quá sơ sài, không mô tả được chi tiết về công thức nấu ăn
                            - Sao chép công thức của người khác </p>


                        <p><strong>Thay đổi quy định</strong></p>

                        <p>Chúng tôi có toàn quyền thay đổi quy định mà không cần báo trước. Với việc tiếp tục sử dụng
                            {{URL}} &nbsp;sau những sửa đổi đó, bạn mặc nhiên đồng ý chấp hành các sửa đổi
                            trong quy định.</p>

                        <p><strong>Quy định về các hành động không được phép</strong></p>

                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn không được quyền xâm phạm, xâm nhập, tiếp cận, sử dụng hay
                            tìm
                            cách xâm phạm, xâm nhập, tiếp cận hoặc sử dụng bất kỳ phần nào trong máy chủ của chúng tôi,
                            và/ hoặc
                            bất kỳ khu vực dữ liệu nào nếu không được chúng tôi cho phép.</p>

                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn không được quyền hoặc có các hành động nhằm hạn chế hoặc
                            cấm đoán
                            bất kỳ người dùng nào khác sử dụng các tiện ích trên trang amthuc.anchay.poly.com.</p>

                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn không được quyền gửi lên hoặc truyền phát bất kỳ thông tin
                            bất hợp
                            pháp, lừa gạt, bôi nhọ, sỉ nhục, tục tĩu, khiêu dâm, xúc phạm, đe dọa, lăng mạ, thù hận,
                            kích động…
                            hoặc trái với chuẩn mực đạo đức chung của xã hội dưới bất kì hình thức nào, bao gồm cả việc
                            truyền bá
                            hay khuyến khích những hành vi có thể cấu thành tội phạm hay vi phạm bất cứ điều khoản nào
                            của luật
                            pháp địa phương, quốc gia hay quốc tế. Chúng tôi tôn trọng quyền tự do ngôn luận, nhưng cũng
                            bảo lưu
                            việc có toàn quyền lược bớt, hoặc xoá bỏ một phần hoặc toàn bộ nội dung nào các bạn đưa lên,
                            bất kể
                            việc vi phạm đó là rõ ràng hay chỉ là hàm ý.</p>

                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn không được phép gửi hoặc truyền bất kỳ thông điệp nào mang
                            tính
                            quảng cáo, mời gọi, thư dây chuyền, cơ hội đầu tư hay bất kỳ dạng liên lạc có mục đích
                            thương mại nào
                            mà người dùng không mong muốn, thư rác hay tin nhắn rác.</p>

                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn không được gửi hoặc truyền bất kỳ thông tin nào không
                            thuộc quyền
                            sở hữu của bạn trừ khi đó là thông tin được cung cấp miễn phí, không gửi bất kỳ thông tin
                            nào có chứa
                            bất kỳ loại virus, Trojan, bọ hay các thành phần nguy hại nào.</p>

                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn sẽ không gửi, xuất bản, truyền, tái sản xuất, phân phát
                            hoặc khai
                            thác bằng bất cứ hình thức nào với bất cứ thông tin nào có được từ {{URL}} vào
                            mục đích thương mại;
                            hoặc
                            tải lên, gửi, xuất bản, truyền, tái sản xuất hoặc phân phối dưới bất cứ hình thức nào những
                            nội dung
                            được bảo vệ bởi luật bản quyền và luật sở hữu trí tuệ của {{URL}}&nbsp;hoặc
                            tạo
                            ra các biến thể của các
                            nội dung đó mà không có sự đồng ý bằng văn bản của chủ nhân hoặc người giữ bản quyền.</p>

                        <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Bạn không được sử dụng thông tin trong trang web này với bất
                            cứ hình
                            thức nào hoặc bất cứ mục đích nào, trừ những điều khoản được xác lập trong bản Quy định sử
                            dụng này.
                        </p>

                        <p><strong>Quyền truy cập</strong></p>

                        <p>Chúng tôi có toàn quyền, vào mọi lúc, cấm hoặc từ chối truy cập của bạn vào
                            {{URL}} &nbsp;hoặc bất kỳ
                            phần nào của website ngay lập tức và không cần báo trước nếu chúng tôi cho rằng bạn đã vi
                            phạm bất cứ
                            điều khoản nào trong bản Quy định này, hoặc việc cấm truy cập xuất phát từ nhận định của
                            chúng tôi,
                            khi chúng tôi cho rằng từ chối đó phù hợp và cần thiết trong thẩm quyền của chúng tôi.</p>

                        <p> Đối với những thành viên của website, nếu điểm tổng của thành viên đạt mức cao nhất và
                            có tương tác tốt sẽ được Admin website phê duyệt để nâng cấp lên chức Quản trị viên và
                            ngược lại, nếu thành viên đang giữ chức Quản trị viên nhưng thái độ không tốt,
                            giảm tương tác, … sẽ bị hạ cấp xuống thành viên.</p>

                        <p><strong>Thông tin của bên thứ ba</strong></p>

                        <p>Thông tin được cung cấp tại {{URL}} có thể chứa thông tin từ bên thứ ba hoặc
                            được chọn lọc từ các
                            nguồn
                            khác. Chúng tôi không chấp nhận bất cứ trách nhiệm nào về các thông tin mà chúng tôi đăng
                            tải, bạn sẽ
                            sử dụng hoặc đặt niềm tin vào những thông tin đó với hiểu biết, trách nhiệm và nguy cơ của
                            riêng bạn.
                        </p>

                        <p><strong>Bồi thường</strong></p>

                        <p>Bạn đồng ý bồi hoàn những nghĩa vụ pháp lý, tố tụng, tổn thất, chi phí (bao gồm cả án phí
                            không giới
                            hạn) có liên quan tới hoặc phát sinh từ sự vi phạm của bạn đối với bất kỳ điều khoản nào
                            trong Quy
                            định sử dụng của {{URL}}. Chúng tôi có thể, trong trường hợp xét thấy cần
                            thiết,
                            hoặc theo quy định của
                            pháp luật tham gia tố tụng trước các khiếu kiện hoặc đàm phán để dàn xếp.</p>

                        <p><strong>Quyền sở hữu trí tuệ và các quyền khác</strong></p>

                        <p>Tất cả những nội dung đều thuộc quyền sở hữu thuộc về {{URL}}. Theo đó, tất cả
                            các quyền hợp pháp đều
                            được đảm bảo. Trừ phi được sự đồng ý của {{URL}}, bạn không được phép tải lên,
                            gửi, xuất bản, tái sản
                            xuất, truyền hoặc phân phát bằng bất cứ hình thức nào bất cứ thành phần nào của website
                            {{URL}}&nbsp;hoặc tạo ra những bản sửa đổi của nội dung cung cấp trong website
                            {{URL}}.</p>

                        <p>Tại các khu vực được phép đăng tải bài viết, bạn có thể chia sẻ thông tin được phép dưới các
                            định
                            dạng chúng tôi mặc định và bạn phải tự chịu trách nhiệm đối với các nội dung, thông tin,
                            hình ảnh và
                            bất kỳ sự chia sẻ nào khác của bạn với cá nhân người sử dụng hoặc nhóm người sử dụng.</p>

                        <p>Tuy nhiên, trong mọi trường hợp, chúng tôi vẫn được bảo lưu quyền xử lý các thông tin đăng
                            tải cho
                            phù hợp với thuần phong mỹ tục, các quy tắc đạo đức và các quy tắc đảm bảo an ninh quốc gia,
                            và chúng
                            tôi có toàn quyền cho phép hoặc không cho phép bài viết của bạn xuất hiện hay tồn tại trên
                            diễn đàn
                            hoặc tại các khu vực được phép chia sẻ thông tin.</p>

                        <p>Chúng tôi có toàn quyền, bao gồm quyền tác giả, thương hiệu, bí mật kinh doanh và các quyền
                            sở hữu
                            khác, nội dung của website, và hàng hóa hoặc dịch vụ được cung cấp mà chúng tôi có trong
                            website
                            {{URL}}. Việc sử dụng quyền và sở hữu của chúng tôi cần phải được chúng tôi
                            cho
                            phép trước bằng văn
                            bản.
                            Ngoài việc cấp phép bằng văn bản, chúng tôi không cấp phép dưới bất kỳ hình thức nào khác
                            cho dù đó là
                            hình thức công bố hay hàm ý, hoặc thông qua việc để bạn sử dụng dịch vụ. Và do vậy, bạn
                            không có quyền
                            sử dụng website hoặc dịch vụ của chúng tôi vào mục đích thương mại mà không có sự cho phép
                            bằng văn
                            bản của chúng tôi trước đó.</p>

                        <p>Bạn đồng ý để chúng tôi tự do sử dụng, tiết lộ, áp dụng và sửa đổi bất kỳ ý tưởng, khái niệm,
                            cách
                            thức, đề xuất, gợi ý, bình luận hoặc hình thức thông báo nào khác mà bạn cung cấp cho chúng
                            tôi có
                            liên quan tới {{URL}} một cách hoàn toàn miễn phí.</p>

                        <p><strong>Cung cấp nội dung trên {{URL}}</strong></p>

                        <p>Bạn đồng ý trao cho chúng tôi toàn bộ quyền và cấp phép (bao gồm cả các quyền về tinh thần
                            hay các
                            quyền cần thiết khác) để sử dụng, trưng bày, tái sản xuất, chỉnh sửa, xuất bản, cung cấp,
                            xúc tiến,
                            dịch và tạo ra các phiên bản tổ hợp khác, một phần hoặc toàn bộ, trên phạm vi toàn cầu mà
                            không đòi
                            hỏi thù lao. Sự cấp phép này được áp dụng với bất cứ dạng thức, phương tiện, công nghệ nào
                            đã được
                            biết đến hoặc phát triển sau này; bạn cần lưu ý rằng, các bài viết (post) trên diễn đàn,
                            hoặc tại các
                            khu vực được phép có thể tiếp tục nằm trên website của chúng tôi ngay cả khi tài khoản của
                            bạn đã bị
                            xóa vì bất kỳ lý do gì.</p>

                        <p>Giới hạn trách nhiệm pháp lý và bảo đảm</p>

                        <p>Tất cả thông tin chỉ dành cho việc tham khảo tổng quát của bạn.
                            {{URL}} &nbsp;không nhận bất cứ trách
                            nhiệm nào về những thông tin đó.</p>

                        <p>Việc truy cập và sử dụng website {{URL}} do bạn hoàn toàn tự chịu trách nhiệm
                            và
                            được cung cấp như
                            hiện
                            có. {{URL}} chỉ dành cho mục đích sử dụng cá nhân và chúng tôi không đại diện
                            cho
                            hoặc bảo đảm về bất
                            cứ
                            điều gì, được phát ngôn cụ thể hay hàm ý cho bất cứ mục đích cụ thể nào.</p>

                        <p>Bạn hành xử và tin tưởng hoàn toàn vào kỹ năng và khả năng đánh giá của chính bạn đối với
                            việc sử
                            dụng và cách hiểu đối với thông tin bạn có được tại {{URL}}. Bạn chịu trách
                            nhiệm
                            đảm bảo rằng việc sử
                            dụng thông tin của bạn tuân thủ tất cả các yêu cầu của pháp luật hiện hành.</p>

                        <p>Giới hạn nghĩa vụ pháp lý trong Quy định sẽ được áp dụng với quy mô đầy đủ nhất được pháp
                            luật hiện
                            hành cho phép.</p>

                        <p><u><em>Thông báo về Quyền tác giả</em></u></p>

                        <p>Nếu bạn cho rằng quyền sở hữu của bạn đã bị sử dụng theo những cách thức vi phạm quyền tác
                            giả, bạn
                            có thể liên hệ với nhân viên phụ trách vấn đề bản quyền của chúng tôi tại địa chỉ:<strong>&nbsp;<a
                                    href="mailto:info@amthuc-anchay-poly.herokuapp.com.vn"
                                    style="box-sizing: border-box; color: rgb(51, 51, 51); text-decoration: none; white-space: nowrap; cursor: pointer; margin: 0px; padding: 0px; outline: 0px; background: transparent;"
                                    target="_self">booking.hotel.com.2020@gmail.com</a>.</strong></p>

                        <p><strong>Luật áp dụng</strong></p>

                        <p>Bạn đồng ý rằng bản Quy định sử dụng và bất kỳ bất đồng nào phát sinh từ việc bạn sử dụng
                            website này
                            hoặc các sản phẩm và dịch vụ của chúng tôi sẽ được giải quyết theo luật pháp hiện hành của
                            Nước Cộng
                            hoà Xã hội Chủ nghĩa Việt Nam. Thông qua việc đăng ký hoặc sử dụng website và dịch vụ của
                            chúng tôi,
                            bạn mặc nhiên đồng ý và tuân thủ toàn bộ các quy định của Luật pháp Việt Nam.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
