<ng-template #skeleton>
    <section
            style="height: 100%; width:100%;background-color: white !important;z-index: 1140 !important;margin: 0; padding-top: 5%;">
        <div class="container">
            <div class="d-flex">
                <div class="col-3">
                    <div class="offer-map">
                        <img class="map-img"
                             src="https://cdn6.agoda.net/images/MAPS-1213/default/bkg-map-entry.svg">
                        <img class="map-maker"
                             src="https://cdn6.agoda.net/images/MAPS-1213/default/img-map-pin-red.svg">
                        <figcaption class="map-text">Xem vị trí</figcaption>
                    </div>
                    <div class="offer-text">
                        Đề xuất cho bạn ở Hà Nội
                    </div>
                    <div style="width: 100%;height: 100%">
                        <div class="offer-item">
                            <div class="offerItem-img">
                                <ngx-skeleton-loader style="width: 100%"
                                                     [theme]="{ 'border-radius': '0', height: '120px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="offerInfo-hotel">
                                <div style="width:90%;">
                                    <ngx-skeleton-loader
                                            [theme]="{ 'border-radius': '0', height: '15px'}"></ngx-skeleton-loader>
                                </div>
                                <div style="width:40%;">
                                    <ngx-skeleton-loader
                                            [theme]="{ 'border-radius': '0', height: '10px'}"></ngx-skeleton-loader>
                                </div>
                                <div class="offerInfoHotel-review">
                                    <div class="offerReview-item">
                                        <div style="width: 30px; margin-right: 5px;">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '30px'}"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                    <div class="offerReview-item">
                                        <div class="offerReview-text">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '15px', width: '80px'}"></ngx-skeleton-loader>
                                        </div>
                                        <div class="offerReview-count">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '10px', width: '80px'}"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="offerInfoHotel-price">
                                    <div class="offerPrice-number">
                                        <ngx-skeleton-loader
                                                [theme]="{ 'border-radius': '0', height: '20px', width: '80px'}"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="offerItem-img">
                                <ngx-skeleton-loader style="width: 100%"
                                                     [theme]="{ 'border-radius': '0', height: '120px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="offerInfo-hotel">
                                <div style="width:90%;">
                                    <ngx-skeleton-loader
                                            [theme]="{ 'border-radius': '0', height: '15px'}"></ngx-skeleton-loader>
                                </div>
                                <div style="width:40%;">
                                    <ngx-skeleton-loader
                                            [theme]="{ 'border-radius': '0', height: '10px'}"></ngx-skeleton-loader>
                                </div>
                                <div class="offerInfoHotel-review">
                                    <div class="offerReview-item">
                                        <div style="width: 30px; margin-right: 5px;">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '30px'}"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                    <div class="offerReview-item">
                                        <div class="offerReview-text">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '15px', width: '80px'}"></ngx-skeleton-loader>
                                        </div>
                                        <div class="offerReview-count">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '10px', width: '80px'}"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="offerInfoHotel-price">
                                    <div class="offerPrice-number">
                                        <ngx-skeleton-loader
                                                [theme]="{ 'border-radius': '0', height: '20px', width: '80px'}"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="offerItem-img">
                                <ngx-skeleton-loader style="width: 100%"
                                                     [theme]="{ 'border-radius': '0', height: '120px'}"></ngx-skeleton-loader>
                            </div>
                            <div class="offerInfo-hotel">
                                <div style="width:90%;">
                                    <ngx-skeleton-loader
                                            [theme]="{ 'border-radius': '0', height: '15px'}"></ngx-skeleton-loader>
                                </div>
                                <div style="width:40%;">
                                    <ngx-skeleton-loader
                                            [theme]="{ 'border-radius': '0', height: '10px'}"></ngx-skeleton-loader>
                                </div>
                                <div class="offerInfoHotel-review">
                                    <div class="offerReview-item">
                                        <div style="width: 30px; margin-right: 5px;">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '30px'}"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                    <div class="offerReview-item">
                                        <div class="offerReview-text">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '15px', width: '80px'}"></ngx-skeleton-loader>
                                        </div>
                                        <div class="offerReview-count">
                                            <ngx-skeleton-loader
                                                    [theme]="{ 'border-radius': '0', height: '10px', width: '80px'}"></ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                                <div class="offerInfoHotel-price">
                                    <div class="offerPrice-number">
                                        <ngx-skeleton-loader
                                                [theme]="{ 'border-radius': '0', height: '20px', width: '80px'}"></ngx-skeleton-loader>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-9">
                    <div class="row sort-bar">
                        <div class="col-lg-3" style="padding: 2px;">
                            <ngx-skeleton-loader
                                    [theme]="{ 'border-radius': '20px', height: '30px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-lg-2" style="padding: 2px;">
                            <ngx-skeleton-loader
                                    [theme]="{ 'border-radius': '20px', height: '30px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-lg-2" style="padding: 2px;">
                            <ngx-skeleton-loader
                                    [theme]="{ 'border-radius': '20px', height: '30px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-lg-3" style="padding: 2px;">
                            <ngx-skeleton-loader
                                    [theme]="{ 'border-radius': '20px', height: '30px'}"></ngx-skeleton-loader>
                        </div>
                        <div class="col-lg-2" style="padding: 2px;">
                            <ngx-skeleton-loader
                                    [theme]="{ 'border-radius': '20px', height: '30px'}"></ngx-skeleton-loader>
                        </div>
                    </div>
                    <div class="info-hotel" style="width: 100%">
                        <a target="_blank" class="hehe" style="color: #0a0a0a;">
                            <div class="row hotel-item">
                                <div class="img-item">
                                    <div class="row" style="margin: 0; padding: 0; height: 270px; width: 100%">
                                        <ngx-skeleton-loader style="width: 100%"
                                                             [theme]="{ 'border-radius': '0', height: '270px'}"
                                        ></ngx-skeleton-loader>
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <div style="width:90%; margin-bottom: 10px;">
                                        <ngx-skeleton-loader
                                                [theme]="{ 'border-radius': '0', height: '20px'}"></ngx-skeleton-loader>
                                    </div>
                                    <div style="width:70%; margin-bottom: 10px;">
                                        <ngx-skeleton-loader count="3"
                                                             [theme]="{ 'border-radius': '0', height: '20px'}"></ngx-skeleton-loader>
                                    </div>
                                </div>
                                <div class="price-item">
                                    <div class="review-section">
                                        <div class="review-item">
                                            <div style="width: 100%">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '20px', width: '100px'}"></ngx-skeleton-loader>
                                            </div>
                                            <div class="review-count">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '15px', width: '100px'}"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                        <div class="review-item">
                                            <div style="margin-left: 5px;width: 50px; height: 50px; text-align: center;line-height: 40px;">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '50px'}"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-section">
                                        <div class="price-container">
                                            <div class="min-price">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '10px', width: '150px'}"></ngx-skeleton-loader>
                                            </div>
                                            <div class="old-price">
                                                <ngx-skeleton-loader count="2"
                                                                     [theme]="{ 'border-radius': '0', height: '20px', width: '100px'}"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="info-hotel" style="width: 100%">
                        <a target="_blank" class="hehe" style="color: #0a0a0a;">
                            <div class="row hotel-item">
                                <div class="img-item">
                                    <div class="row" style="margin: 0; padding: 0; height: 270px; width: 100%">
                                        <ngx-skeleton-loader style="width: 100%"
                                                             [theme]="{ 'border-radius': '0', height: '270px'}"
                                        ></ngx-skeleton-loader>
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <div style="width:90%; margin-bottom: 10px;">
                                        <ngx-skeleton-loader
                                                [theme]="{ 'border-radius': '0', height: '20px'}"></ngx-skeleton-loader>
                                    </div>
                                    <div style="width:70%; margin-bottom: 10px;">
                                        <ngx-skeleton-loader count="3"
                                                             [theme]="{ 'border-radius': '0', height: '20px'}"></ngx-skeleton-loader>
                                    </div>
                                </div>
                                <div class="price-item">
                                    <div class="review-section">
                                        <div class="review-item">
                                            <div style="width: 100%">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '20px', width: '100px'}"></ngx-skeleton-loader>
                                            </div>
                                            <div class="review-count">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '15px', width: '100px'}"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                        <div class="review-item">
                                            <div style="margin-left: 5px;width: 50px; height: 50px; text-align: center;line-height: 40px;">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '50px'}"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-section">
                                        <div class="price-container">
                                            <div class="min-price">
                                                <ngx-skeleton-loader
                                                        [theme]="{ 'border-radius': '0', height: '10px', width: '150px'}"></ngx-skeleton-loader>
                                            </div>
                                            <div class="old-price">
                                                <ngx-skeleton-loader count="2"
                                                                     [theme]="{ 'border-radius': '0', height: '20px', width: '100px'}"></ngx-skeleton-loader>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</ng-template>

<div *ngIf="!loadding; else skeleton"
     style="background-color: white !important;z-index: 1140 !important;margin: 0; padding-top: 5%;">
    <div class="container">
        <div class="d-flex">
            <div class="row" style="margin: 0; padding: 0; position: relative">
                <div class="col-lg-3" id="left-offer">
                    <div class="offer-map">
                        <img class="map-img"
                             src="https://cdn6.agoda.net/images/MAPS-1213/default/bkg-map-entry.svg">
                        <img class="map-maker"
                             src="https://cdn6.agoda.net/images/MAPS-1213/default/img-map-pin-red.svg">
                        <figcaption class="map-text">Xem vị trí</figcaption>
                    </div>
                    <div class="offer-text">
                        Đề xuất cho bạn ở Hà Nội
                    </div>
                    <div style="width: 100%;height: 100%">
                        <div *ngFor="let p of hotels | slice: 0: 3" class="offer-item">
                            <div class="offerItem-img" *ngIf="p.hotel.image[0]"
                                 [style]="'background-image: url(' + BASE_URL+ p.hotel.image[0]+');'">
                            </div>
                            <div class="offerInfo-hotel">
                                <div class="offerInfoHotel-title">
                                    {{p.hotel.name}}
                                </div>
                                <div class="offerInfoHotel-star">
                                    <mat-icon *ngFor="let i of [].constructor(p.hotel.starHotel)"
                                              class="header-star-icon" style="color: #e67a1e">grade
                                    </mat-icon>
                                </div>
                                <div class="offerInfoHotel-review">
                                    <div class="offerReview-item">
                                        <div class="offerReview-point">
                                            <span style="font-size: 14px; font-weight: bold">8,9</span>
                                        </div>
                                    </div>
                                    <div class="offerReview-item">
                                        <div class="offerReview-text">Trên cả tuyệt vời</div>
                                        <div class="offerReview-count">1.068 nhận xét</div>
                                    </div>
                                </div>
                                <div class="offerInfoHotel-price">
                                    <div class="offerPrice-min">Giá mỗi đêm rẻ nhất từ</div>
                                    <div class="offerPrice-number">
                                        <span style="color: red">{{formatNumber(p.roomDetail[0].price)}} ₫</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9" id="hotel-item">
                    <div class="row sort-bar">
                        <div class="col-lg-3" style="padding: 2px;">
                            <button class="btn btn-peole dropdown-toggle" type="button" id="dropdownPHButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="material-icons">construction</span>
                                <span style="margin: 0 5px">Tiện ích</span>
                                <!--                            <span class="material-icons">arrow_drop_down</span>-->
                            </button>
                            <div class="dropdown-menu dropdown-menu-top-left" aria-labelledby="dropdownPHButton"
                                 style="width: 500px;">
                                <div class="row" style="padding: 0.5rem 1.5rem">
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'freeWifi')">{{"facilities.freeWifi"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'freeInternet')">{{"facilities.freeInternet"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'freeParking')">{{"facilities.freeParking"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'freeBreakfast')">{{"facilities.freeBreakfast"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'Smoking')">{{"facilities.Smoking"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'gymRoom')">{{"facilities.gymRoom"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'hotTub')">{{"facilities.hotTub"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'Fireplace')">{{"facilities.Fireplace"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'elevatorInHotel')">{{"facilities.elevatorInHotel"|translate}}</mat-checkbox>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-checkbox
                                                (change)="addFacilitiFilter($event,'privatePool')">{{"facilities.privatePool"|translate}}</mat-checkbox>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding: 2px;">
                            <button class="btn btn-price dropdown-toggle" type="button" id="dropdownPriceButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="material-icons">monetization_on</span>
                                <span style="margin: 0 5px">Giá</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownPriceButton">
                                <!--                                <nouislider #slider [config]="someKeyboardConfig" [(ngModel)]="a"></nouislider>-->
<!--                                <ng5-slider (highValueChange)="minValueChange($event)"-->
<!--                                            (valueChange)="maxValueChange($event)" [(highValue)]="maxValue"-->
<!--                                            [(value)]="minValue" [options]="options"></ng5-slider>-->
                                <a class="dropdown-item" style="cursor: pointer" (click)="addPriceFilter(0)">Giá thấp trước</a>
                                <a class="dropdown-item" style="cursor: pointer" (click)="addPriceFilter(1)">Giá cao trước</a>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding: 2px;">
                            <button class="btn btn-star dropdown-toggle" type="button" id="dropdownStarButton"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            >
                                <span class="material-icons">grade</span>
                                <span style="margin: 0 5px">Sao</span>
                            </button>
                            <div class="dropdown-menu keep-open" aria-labelledby="dropdownStarButton">
                                <a class="dropdown-item">
                                    <mat-checkbox (change)="addStartFilter($event,5)">
                                        <mat-icon *ngFor="let star of [].constructor(5)">grade</mat-icon>
                                        <span style="color: black">(5 sao)</span></mat-checkbox>
                                </a>
                                <a class="dropdown-item">
                                    <mat-checkbox (change)="addStartFilter($event,4)">
                                        <mat-icon *ngFor="let star of [].constructor(4)">grade</mat-icon>
                                        <span style="color: black">(4 sao)</span>
                                    </mat-checkbox>
                                </a>
                                <a class="dropdown-item">
                                    <mat-checkbox (change)="addStartFilter($event,3)">
                                        <mat-icon *ngFor="let star of [].constructor(3)">grade</mat-icon>
                                        <span style="color: black">(3 sao)</span></mat-checkbox>
                                </a>
                                <a class="dropdown-item">
                                    <mat-checkbox (change)="addStartFilter($event,2)">
                                        <mat-icon>grade</mat-icon>
                                        <mat-icon>grade</mat-icon>
                                        <span style="color: black">(2 sao)</span></mat-checkbox>
                                </a>
                            </div>
                        </div>
                        <div class="col-lg-3" style="padding: 2px;">
                            <button class="btn btn-review dropdown-toggle" type="button">
                                <span class="material-icons">rate_review</span>
                                <span style="margin: 0 5px">Đánh giá hàng đầu</span>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownRatingButton">

                                <mat-slider style="margin-left: 15px; color: #00a5bb;"
                                            thumbLabel
                                            [displayWith]="formatLabel"
                                            tickInterval="5"
                                            min="1"
                                            max="10"></mat-slider>
                            </div>
                        </div>
                        <div class="col-lg-2" style="padding: 2px;">
                            <button class="btn btn-sale dropdown-toggle" type="button">
                                <span class="material-icons">local_offer</span>
                                <span style="margin: 0 5px">Vị trí</span>
                                <!--                            <span class="material-icons">arrow_drop_down</span>-->
                            </button>
                        </div>
                    </div>
                    <div class="info-hotel" style="width: 100%">
                        <div class="row tag-QC">
                            <div class="QC-img">
                                <img src="https://cdn6.agoda.net/images/FUSION-2927/agoda-easy-cancel.png">
                            </div>
                            <div class="QC-content">
                                <div class="QCContent-title">Booking Hotel Hủy Dễ Dàng</div>
                                <p class="QCContent-text">Booking Hotel Hủy Dễ Dàng cho thấy các chỗ nghỉ hàng đầu đang
                                    giúp
                                    quý khách ở linh hoạt nhất có thể bằng cách cung cấp việc hủy miễn phí.</p>
                            </div>
                        </div>
                        <a *ngFor="let p of hotels" target="_blank" [routerLink]="'/hotel-details/'+p.hotel.nameSpace"
                           class="hehe"
                           style="color: #0a0a0a; cursor: pointer">
                            <div class="row hotel-item">
                                <div class="img-item">
                                    <div class="row" style="height: 70%;margin: 0 !important;">
                                        <div class="img-content" *ngIf="p.hotel.image[0]"
                                             [style]="'background-image:url(' + BASE_URL + p.hotel.image[0] +');background-repeat: no-repeat;background-size: 100% 100%;'"></div>
                                    </div>
                                    <div class="row" style="height: 30%;margin: 0 !important;">
                                        <div class="thumbnail-item-list">
                                            <div *ngFor="let i of p.hotel.image | slice:1:11" class="thumbnail-item">
                                                <div class="img-thumbnaill" *ngIf="i"
                                                     [appTooltipImgPre]="BASE_URL+ i"
                                                     [style]="'background-image:url(' + BASE_URL + i +');background-repeat: no-repeat;background-size: 100% 100%;'"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="detail-item">
                                    <header class="detail-header">
                                        <h4 class="header-title" style="margin: 0">{{p.hotel.name}}</h4>
                                        <div></div>
                                        <div class="header-star">
                                            <span class="tooltipStar">
                                                <mat-icon *ngFor="let i of [].constructor(p.hotel.starHotel)"
                                                          class="header-star-icon"
                                                          style="color: #e67a1e">grade
                                                </mat-icon>
                                                <span class="tooltipStarText">Số sao đánh giá này do nơi lưu trú cung cấp, phản ánh độ thoải mái, cơ sở vật chất và tiện nghi mà khách hàng có thể mong đợi</span>
                                            </span>
                                            <span class="header-star-text">
                                            <mat-icon class="header-star-icon"
                                                      style="color: dodgerblue">location_on</mat-icon>
                                            <span class="header-star-text">{{p.hotel.address}}</span>
                                        </span>
                                        </div>
                                    </header>
                                    <div></div>
                                    <div class="tooltipFacilitiPlace" style="margin-top: 5px;">
                                        <ol class="pills">
                                            <li class="pill" style="border-color: black; color: black;">Vị trí thuận
                                                tiện
                                            </li>
                                            <li class="pill" style="border-color: black; color: black;">Phương tiện
                                                di
                                                chuyển gần đây
                                            </li>
                                        </ol>
                                        <div class="tooltiptextFacilitiPlace">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <mat-icon style="font-size: medium;">where_to_vote</mat-icon>
                                                    Vị trí thuận tiện
                                                </div>
                                                <div class="col-lg-6">
                                                    <mat-icon style="font-size: medium;">train</mat-icon>
                                                    Phương tiện di chuyển gần đây
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div class="tooltipFacilitiHotel">
                                        <ol class="pills">
                                            <li *ngFor="let item of p.listPriceFacilities | slice:0:2" class="pill"
                                                style="border-color: #66be5b; color: #66be5b;">
                                                {{item.name | translate}}
                                            </li>
                                            <li *ngIf="p.listPriceFacilities.length > 2" class="pill"
                                                style="border-color: #66be5b; color: #66be5b;">
                                                +{{p.listPriceFacilities.length - 2}}
                                            </li>
                                        </ol>
                                        <div class="tooltiptextFacilitiHotel">
                                            <div class="row">
                                                <div class="col"
                                                     style="text-align: left;padding-left: 6%;font-weight: 700;font-size: 14px;margin-bottom: 10px;">
                                                    Một số gói giá sẽ có:
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div *ngFor="let item of p.listPriceFacilities" class="col-lg-6"
                                                     style="text-align: left; padding-left: 8%">
                                                    <mat-icon style="font-size: medium; color: #66be5b;">{{item.icon}}
                                                    </mat-icon>
                                                    {{item.name | translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div>
                                        <div>
                                            <ol class="pills">
                                                <li class="pill"
                                                    style="background-color: #e8e1f4; color: #6b4c9f; border: none !important;">
                                                    <mat-icon class="pill-moni">monetization_on</mat-icon>
                                                    Mức giá hiếm thấy cho địa điểm này
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <div></div>
                                    <div>
                                        <div>
                                            <ol class="pills">
                                                <li class="pill"
                                                    style="border: none !important; padding: 0 !important">
                                                    <mat-icon class="pill-person">supervised_user_circle</mat-icon>
                                                    Được 100% khách giới thiệu
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                                <div class="price-item">
                                    <div class="review-section">
                                        <div class="review-item">
                                            <div class="review-text">Trên cả tuyệt vời</div>
                                            <div class="review-count">1.068 nhận xét</div>
                                        </div>
                                        <div class="review-item">
                                            <div style="margin-left: 5px;width: 50px; height: 50px; text-align: center;border: #5392f9 3px solid ;line-height: 40px;">
                                                <span style="font-size: 20px; font-weight: bold">8,9</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="price-section">
                                        <div class="promotion-item">
                                            <div *ngIf="p.roomDetail[0].promotion > 0" class="promotion-text">
                                                Giảm giá 50%
                                            </div>
                                            <div class="promotion-type">
                                                <mat-icon>local_offer</mat-icon>
                                                ưu đãi dài hạn
                                            </div>
                                        </div>
                                        <div class="price-container">
                                            <div class="min-price">Giá mỗi đêm rẻ nhất từ</div>
                                            <div class="old-price tooltip">
                                                <del>219.888</del>
                                                <span class="tooltiptext">Đây là giá phòng thông thường của khách sạn</span>
                                            </div>
                                            <div class="new-price">
                                                <span style="color: red">{{formatNumber(p.roomDetail[0].price)}}</span><span
                                                    style="color: gray;"> ₫</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="loadding" class="loadding">
    <mat-progress-spinner mode="indeterminate" class="loadding-progress"></mat-progress-spinner>
    <div style="width: 100%">
        <div class="loadding-title">
            Giá rẻ, đầy yêu thương.
        </div>
        <div></div>
        <div class="loadding-text">
            Chúng tôi sẽ đảm báo hạ giá rẻ nhất, búc phòng nhiệt tình lên anh em !!
        </div>
    </div>
</div>