<div mat-dialog-title><h4>Hủy Phòng</h4></div>
<div>Bạn chắc chắn chứ?</div>
<div class="text-center d-flex align-items-center justify-content-center">
    <div class="geeks">
        <h3>Thông tin phòng của bạn</h3>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">Tên khách sạn: </div>
        <div class="col">{{this.book.nameHotel}}</div>
    </div>
    <div class="row">
        <div class="col">Địa chỉ: </div>
        <div class="col">{{ this.book.address}}</div>
    </div>
    <div class="row">
        <div class="col">Loại phòng: </div>
        <div class="col">{{ this.book.roomType}}</div>
    </div>
    <div class="row">
        <div class="col">Số lượng: </div>
        <div class="col">{{ this.book.totalAmountRoom}} phòng</div>
    </div>
    <div class="row">
        <div class="col">Từ ngày: </div>
        <div class="col">{{ this.book.fromDate}}</div>
    </div>
    <div class="row">
        <div class="col">Đến ngày: </div>
        <div class="col">{{ this.book.toDate}}</div>
    </div>
    <div class="row">
        <div class="col">Số tiền đã thanh toán: </div>
        <div class="col">{{ this.book.totalMoney}}</div>
    </div>
    <div class="row">
        <div class="col">Chính sách hủy phòng của khách sạn:</div>
    </div>
    <div class="row">
        <div class="col">
            <span *ngIf="this.book.policiesCancelRom==1" style="font-weight: bold">{{"room.flexiblev1" | translate}}</span>
            <span *ngIf="this.book.policiesCancelRom==2" style="font-weight: bold">{{"room.Strictv1" | translate}}</span>
            <span *ngIf="this.book.policiesCancelRom==3" style="font-weight: bold">{{"room.Strictv2" | translate}}</span>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <span *ngIf="this.book.policiesCancelRom==2"><span style="color: red;">
                *Chú ý : </span>Khi bạn hủy phòng tiền của bạn sẽ được hoàn trả sau 1-3 ngày kể từ ngày bạn hủy phòng
                theo chính sách của chúng tôi <a [routerLink]="['/policy']" target="_blank">Xem thêm</a>
            </span>
            <span *ngIf="this.book.policiesCancelRom==3">{{"room.Strictv2" | translate}}</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary btn-sm w-100" [mat-dialog-close]="this.pay">Chấp nhận</button>
        </div>
        <div class="col">
            <button type="button" class="btn btn-secondary btn-sm w-100" (click)="onNoClick()">Từ chối</button>
        </div>
    </div>
</div>

