<div class="wrapper">
    <div class="container-fluid">
        <div class="row" style="position: relative;height: 300px;">
            <img src="./assets/img/back-ground.jpg"
                 style="width: 100%;height: auto; position: absolute;" class="img-fluid" alt="booking hotel"/>
            <div style="position: absolute; top:43%;left: 25%;width: 50%;background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5));height: 400px;">

            </div>
        </div>
    </div>
</div>
<div class="wrapper" style="margin-top: 10%;">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="./assets/img/cung-dinh-hue.jpg"
                     style="width: 100%;height: auto; " class="img-fluid">
            </div>
            <div class="col">
                <img src="./assets/img/paris-1852928_1920.jpg"
                     style="width: 100%;height: auto; " class="img-fluid">
            </div>
            <div class="col">
                <img src="./assets/img/ho-chi-minh-3039579_1920.jpg"
                     style="width: 100%;height: auto; " class="img-fluid">
            </div>
            <div class="col">
                <img src="./assets/img/ho-chi-minh-3039579_1920.jpg"
                     style="width: 100%;height: auto; " class="img-fluid">
            </div>
        </div>
    </div>
</div>
