<div class="wrapper">
    <div class="container-fluid">
        <div class="row" style="position: relative;height: 300px;">
            <img src="./assets/img/back-ground.jpg" style="width: 100%;height: auto; position: absolute;"
                 class="img-fluid" alt="booking hotel"/>
            <div
                    style="position: absolute; top:65%;left: 25%;width: 50%;background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8));height: 400px;">
                <div style=" top: 100px; left:100px; width: 70%;position: absolute ;">
                    <!--                    <mat-form-field>-->
                    <!--                        <input matInput [(ngModel)]="searchHotel.address" [placeholder]= "'index.searchNameOrPlace' | translate"-->
                    <!--                            type="text" style="color: black;" />-->
                    <!--                    </mat-form-field>-->
                    <!--                    <br>-->
                    <!--                    <AutocompleteComponent-->
                    <!--                                           (setAddress)="getEstablishmentAddress($event)"-->
                    <!--                                           adressType="geocode"></AutocompleteComponent>-->
                    <!--                    <mat-form-field>-->
                    <!--                        <input matInput-->
                    <!--                               placeholder="Chọn ngày"-->
                    <!--                               [satDatepicker]="picker2"-->
                    <!--                               formControlName="date">-->
                    <!--                        <sat-datepicker #picker2 [rangeMode]="true">-->
                    <!--                        </sat-datepicker>-->
                    <!--                        <sat-datepicker-toggle matSuffix [for]="picker2"></sat-datepicker-toggle>-->
                    <!--                    </mat-form-field>-->
                    <mat-form-field>
                        <input type="text"
                               matInput
                               [(ngModel)]="searchHotel.address"
                               [formControl]="myControl"
                               [matAutocomplete]="auto" [placeholder]="'index.searchNameOrPlace' | translate">
                        <mat-autocomplete #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                                {{option}}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <br>
                    <div style="border-bottom: 0.5px solid gray; margin-top: 10px;"
                         (click)="openDialogChooseHotelType($event)">
                        <a>{{searchHotel.total}}</a>
                    </div>
                    <br>

                    <button class="btn btn-outline-primary" (click)="searchHotelServer()"
                            style="float: right;border: 0.5px solid blue; color: #0c83e2;">
                        {{"index.search"|translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" style="margin-top: 15%;">
    <div class="container">
        <div class="row" style=" justify-content:center;"><a class="header-title">Khám phá khu nghỉ dưỡng đẹp</a></div>
        <div class="row">
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/khach-san-intercontinental-nha-trang.png" style="width: 100%;height: auto; "
                         class="img-fluid">
                    <a class="title">Khách sạn Intercontinental Nha Trang</a>
                    <a class="title-small"><strong>Đà Nẵng:</strong> 1,200 chỗ nghỉ</a>
                </div>

            </div>
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/sol-beach-house-phu-quoc.jpg" style="width: 100%;height: auto; "
                         class="img-fluid">
                    <a class="title">Sol Beach House Phú Quốc</a>
                    <a class="title-small"><strong>Phú Quốc:</strong> 500 chỗ nghỉ</a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/canho-saigon.jpg" style="width: 100%;height: auto; " class="img-fluid">
                    <a class="title">Bể bơi vô cực - Sài Gòn</a>
                    <a class="title-small"><strong>Sài Gòn:</strong> 5200 chỗ nghỉ</a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/vedana-lagoon-resort-hue.png" style="width: 100%;height: auto; "
                         class="img-fluid">
                    <a class="title">Vedana Lagoon resort - Huế</a>
                    <a class="title-small"><strong>Huế:</strong> 350 chỗ nghỉ</a>
                </div>
            </div>
        </div>
        <div class="row" style=" justify-content:center;margin-top: 5%;"><a class="header-title">Điểm đến nổi tiếng
            nhất</a></div>
        <div class="row">
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/cung-dinh-hue-square.jpg" style="width: 100%;height: auto; "
                         class="img-fluid">
                    <a class="title-1">Huế</a>
                    <a class="title-small-1"><strong>Việt Nam</strong></a>
                </div>

            </div>
            <div class="col">
                <div class="card" style="border-radius: 0;position: relative;">
                    <img src="./assets/img/danang-squre.jpg" style="width: 100%;height: auto; " class="img-fluid"
                         style="position: relative;">
                    <a class="title-1">Đà Nẵng</a>
                    <a class="title-small-1"><strong>Việt Nam</strong></a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/hanoi-top-10-attraction1s.jpg" style="width: 100%;height: auto; "
                         class="img-fluid">
                    <a class="title-1">Hà Nội</a>
                    <a class="title-small-1"><strong>Việt Nam</strong></a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/1554722331_du-lich-da%20-lat-ngam-hoa1-3.jpg"
                         style="width: 100%;height: auto; " class="img-fluid">
                    <a class="title-1">Đà Lạt</a>
                    <a class="title-small-1"><strong>Việt Nam</strong></a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/bien-phanthiet.jpg" style="width: 100%;height: auto; " class="img-fluid">
                    <a class="title-1">Phan Thiết</a>
                    <a class="title-small-1"><strong>Việt Nam</strong></a>
                </div>
            </div>
            <div class="col">
                <div class="card" style="border-radius: 0">
                    <img src="./assets/img/phu-quoc-1515654489_1200x0-min.jpg" style="width: 100%;height: auto; "
                         class="img-fluid">
                    <a class="title-1">Phú Quốc</a>
                    <a class="title-small-1"><strong>Việt Nam</strong></a>
                </div>
            </div>
        </div>
    </div>
</div>

