<!-- hotel-access -->
<div class="wrapper" *ngIf="imageProp == 'hotelAccess'">
    <div class="row">
        <div class="col">
            <div class="file-upload">
                <input type="file" name="image" ng2FileSelect [uploader]="uploader"
                    accept="image/x-png,image/gif,image/jpeg" [multiple]="multiple" />
                <button type="button" (click)="uploader.uploadAll()"
                    [disabled]="!uploader.getNotUploadedItems().length">
                    Upload
                </button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"  *ngFor="let imagePre of listImgPreview; let i = index">
            <div class="row">
                <div class="col">
                    <div tyle="position: relative">
                        <img [src]="imagePre" style="max-width:100%; height: auto;" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button mat-icon-button color="warn" (click)="removeSelectedFile(i)" style="">
                        <mat-icon>favorite</mat-icon>Delete
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- user-profile -->
<div *ngIf="imageProp == 'profile'">
    <label class="hoverablee" for="fileInput" style="height: 200px;
    width: 200px; margin: 30px auto">
        <!-- <img [src]=" 'https://www.w3schools.com/howto/img_avatar.png'" style="border: 1px solid #ffffff;"> -->
        <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"
            style="border: 1px solid #ffffff;height: 100%;width: 100%;border-radius: 50%;">
    </label>
    <br />
    <input id="fileInput" type='file' (change)="onSelectFile($event)" ng2FileSelect [uploader]="uploader">
    <div>
    </div>
    <div class="card-body">
        <h6>Nhấn để cập nhật ảnh diện</h6>
        <!-- <button type="button" (click)="uploader.uploadAll()">Cap nhat</button> .-->
    </div>
</div>
