.navbar1 {
  color: #6a52f1 !important;
  cursor: pointer;
  padding-right: 30px;
  float: right;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.navbar1:hover{
  color: #03bbb8 !important;
  cursor: pointer;
  padding-right: 30px;
  float: right;
}
