<nav class="navbar navbar-default fixed-top" style="box-shadow: none;background: none;" id="check-point">
    <img src="assets/img/logo.png" style="width: 250px; height: 50px;margin-left: 10px;" alt="Booking.com"/>
    <div class="container" style="float: right;">
        <div class="col-3">

        </div>
        <div class="col-8">
            <a class="navbar1" href="javascript:void(0)" *ngIf="checkLanguage"
               (click)="useLanguage('en')"> <img src="/assets/img/en.png"
                                                 style="width: 30px;height: auto; padding-right: 3px;"
                                                 (click)="useLanguage('en')" alt=""/></a>
            <a class="navbar1" href="javascript:void(0)" *ngIf="!checkLanguage"
               (click)="useLanguage('vi')"><img src="/assets/img/vi.png"
                                                style="width: 30px;height: auto; padding-right: 3px;"
                                                (click)="useLanguage('vi')" alt=""/></a>
            <a class="navbar1" (click)="onChangecheck($event)">{{ "common.login.login" | translate }}</a>
            <a class="navbar1">{{ "index.home" | translate }}</a>
            <a class="navbar1">{{ "book.promotion" | translate }}</a>
            <a class="navbar1">{{ "book.room" | translate }}</a>

        </div>
    </div>
</nav>

<a type="button" class="py-2 d-none d-md-inline-block register-button" hidden="true" data-toggle="modal"
   style="opacity: 0;" data-target="#exampleModalCenter" id="modal-button">
</a>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" *ngIf="!isAuthenicate"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:  #00a5d7;">
                <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">
                    {{ "common.login.login" | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                    <span style="color:  white;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-container" style="max-width: 500px;">
                    <img id="profile-img" class="profile-img-card" src="assets/booking/avatar_2x.png"/>
                    <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm" [formGroup]="registerForm">
                        <input type="text" id="email" class="form-control" name="email" autocomplete="off"
                               [(ngModel)]="userObject.email" placeholder="Email" title="Please enter the email"
                               required
                               autofocus formControlName="email"
                               [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors}"/>
                        <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
                            <div *ngIf="registerForm.controls.email.errors.required">
                                {{ "common.login.email" | translate}}
                            </div>
                            <div *ngIf="registerForm.controls.email.errors.email">
                                {{ "common.login.emailError" | translate}}
                            </div>
                        </div>
                        <input type="password" id="password" class="form-control" name="password" autocomplete="off"
                               [(ngModel)]="userObject.password" placeholder="Password"
                               title="Please enter the password"
                               formControlName="password"
                               [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.password.errors }"
                               required/>
                        <div *ngIf="submitted &amp;&amp; registerForm.controls.password.errors" class="text-danger">
                            <div *ngIf="registerForm.controls.password.errors.required">
                                {{ "common.login.password" | translate}}
                            </div>
                            <div *ngIf="registerForm.controls.password.errors.minlength">
                                {{ "common.login.validPassword" | translate}}
                            </div>
                        </div>
                        <input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode"
                               autocomplete="off" #authcode="ngModel" [(ngModel)]="userObject.authcode"
                               placeholder="Two-Factor Auth code" title="Please enter the code" required/>
                        <button class="btn btn-lg btn-success btn-block btn-signin" type="submit" style="background: #00a5d7">
                            {{ "common.login.login" | translate}}
                        </button>
                        <p style="text-align:center;">
                            <a routerLink="/resetPassword" class="link"> {{ "common.login.forget" | translate}}</a>&#160;&#160;&#160;&#160;
                            {{ "common.login.newAccount" | translate}}
                            <a [routerLink]="['/register']" class="link">{{ "common.login.register" | translate}}</a>
                        </p>
                        <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </p>
                    </form>
                    <hr style="border-top: 1px solid #eee;"/>
                    <!-- <div class="row">
                                      <div class="col-6">
                                          <button class="loginBtn loginBtn--facebook">
                                              Login with Facebook
                                          </button>
                                      </div>
                                      <div class="col-6 text-right">
                                          <button class="loginBtn loginBtn--google">
                                              Login with Google
                                          </button>
                                      </div>
                                  </div> -->
                </div>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
<app-scroll-top></app-scroll-top>
