<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light" id="check-point">
    <img src="assets/img/logo.png" style="cursor: pointer;width: 250px; height: 50px;margin-left: 10px;"
         [routerLink]="'/index'" alt="Booking-hotel.com"/>
    <ul class="navbar-nav mr-auto">
    </ul>
    <div class="form-inline my-2 my-lg-0">
        <a class="navbar1" [routerLink]="'/index'">{{ "index.home" | translate }}</a>
        <a class="navbar1 mr-sm-2" routerLink="/search-hotels">{{ "book.room" | translate }}</a>
        <!--        <a class="navbar1 mr-sm-2">{{ "book.promotion" | translate }}</a>-->
        <a class="navbar1" href="javascript:void(0)" *ngIf="!checkLanguage"
           (click)="useLanguage('vi')"><img src="/assets/img/vi.png"
                                            style="width: 30px;height: auto; padding-right: 3px;"
                                            (click)="useLanguage('vi')" alt=""/></a>
        <a class="navbar1" href="javascript:void(0)" *ngIf="checkLanguage"
           (click)="useLanguage('en')"> <img src="/assets/img/en.png"
                                             style="width: 30px;height: auto; padding-right: 3px;"
                                             (click)="useLanguage('en')" alt=""/></a>
        <a *ngIf="!isAuthenicate; else other_content" class="navbar1" style=""
           (click)="onChangecheck($event)">{{ "common.login.login" | translate }}</a>

        <ng-template #other_content>
            <div class="nav-item dropdown">
                <a class="nav-link" (click)="updateNews()" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" style="cursor: pointer">
                    <i class="material-icons">notifications</i>
                    <span *ngIf="countNewMessage > 0" class="notification">{{countNewMessage}}</span>
                </a>
                <div class="dropdown-menu dropdown-menu-right" style="width: 30rem; height: 35rem; overflow: scroll" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item currentMessage">Thông báo</a>
                    <span *ngFor="let message of userMessages" style="white-space: normal"
                          class="dropdown-item currentMessage">{{message.content}}</span>
                    <span *ngIf="messageEmpty === true" class="dropdown-item">Không có thông báo</span>
                </div>
            </div>
            <div class="nav-item avatar dropdown" style="width: 50px;margin-right: 10px">
                <a class="nav-link dropdown-toggle hover" id="navbarDropdownMenuLink-44" data-toggle="dropdown"
                   aria-haspopup="true" title="Quản lý tài khoản" aria-expanded="false"
                   style="padding: 0 10px 0 0">
                    <img [src]="imageUrl" width="30px" height="30px" style="border-radius: 50px"/>
                </a>
                <div class="dropdown-menu dropdown-menu-right"
                     style="background-color: white; height: auto; overflow-y: hidden; padding-bottom: 0px; margin: 0">
                    <a class="dropdown-item hover">{{ "common.user.hello" | translate}} {{user}}</a>
                    <a class="dropdown-item hover" (click)="redirect()"
                       *ngIf="isModeration">{{"common.user.pageAdmin" | translate }}</a>
                    <!--                    <a style="margin:0px" class="dropdown-item hover" [routerLink]="['/user-profile/', id]">Quản lý tài khoản</a>-->
                    <a class="dropdown-item hover"
                       [routerLink]="['/user-info']">{{ "common.user.account" | translate }}</a>
                    <a class="dropdown-item hover"
                       [routerLink]="['/history-book']">{{ "common.user.history" | translate }}</a>
                    <a class="dropdown-item hover" (click)="logoutUser()">{{ "common.logOut" | translate }}</a>
                </div>
            </div>

        </ng-template>
    </div>
</nav>

<nav class="navbar fixed-top navbar-light bg-light" id="check-point-search" style="display: none">
    <div class="form-inline my-2 my-lg-0">
        <div class="container" style="padding-left: 0px; padding-right: 0px">
            <div class="row">
                <div class="col">
                    <img class="text-left" src="assets/img/logo.png"
                         style="width: 250px; height: 50px;margin-left: -100px;" alt="Booking.com"/>
                </div>
                <div class="col" style="background-color: white; border-radius: 10px;">
                    <mat-form-field>
                        <input type="text"
                               matInput
                               [(ngModel)]="searchHotel.address"
                               [placeholder]="'index.searchNameOrPlace' | translate">
                    </mat-form-field>
                </div>
                <div class="col" style="background-color: white; border-radius: 10px; margin-left: 50px">
                    <mat-form-field>
                        <input type="text" matInput [value]="searchHotel.total"
                               [(ngModel)]='searchPerson'
                               (click)="openDialogChooseHotelType($event)"
                               [placeholder]="'dialog.infoRoom' | translate"
                        >
                    </mat-form-field>
                </div>
                <div class="col" style="display: flex; align-items: center;">
                    <button class="btn btn-outline-primary" (click)="searchHotelServer()"
                            style=" border: 0.5px solid blue; color: #0c83e2;margin-left: 100px;">
                        {{"index.search"|translate}}
                    </button>
                </div>
            </div>
        </div>

    </div>

</nav>

<a type="button" class="py-2 d-none d-md-inline-block register-button" hidden="true" data-toggle="modal"
   style="opacity: 0;" data-target="#exampleModalCenter" id="modal-button">
</a>
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" *ngIf="!isAuthenicate"
     aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background:  #00c1ff;">
                <h5 class="modal-title" style="color: white;" id="exampleModalLongTitle">
                    {{ "common.login.login" | translate }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-modal">
                    <span style="color:  white;" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card card-container" style="max-width: 500px;">
                    <img id="profile-img" class="profile-img-card" src="assets/booking/avatar_2x.png"/>
                    <form class="form-signin" (ngSubmit)="loginUser()" #loginForm="ngForm" [formGroup]="registerForm">
                        <input type="text" id="email" class="form-control" name="email" autocomplete="off"
                               [(ngModel)]="userObject.email" placeholder="Email" title="Please enter the email"
                               required
                               autofocus formControlName="email"
                               [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.email.errors}"/>
                        <div *ngIf="submitted &amp;&amp; registerForm.controls.email.errors" class="text-danger">
                            <div *ngIf="registerForm.controls.email.errors.required">
                                {{ "common.login.email" | translate}}
                            </div>
                            <div *ngIf="registerForm.controls.email.errors.email">
                                {{ "common.login.emailError" | translate}}
                            </div>
                        </div>
                        <input type="password" id="password" class="form-control" name="password" autocomplete="off"
                               [(ngModel)]="userObject.password" placeholder="Password"
                               title="Please enter the password"
                               formControlName="password"
                               [ngClass]="{ 'is-invalid': submitted &amp;&amp; registerForm.controls.password.errors }"
                               required/>
                        <div *ngIf="submitted &amp;&amp; registerForm.controls.password.errors" class="text-danger">
                            <div *ngIf="registerForm.controls.password.errors.required">
                                {{ "common.login.password" | translate}}
                            </div>
                            <div *ngIf="registerForm.controls.password.errors.minlength">
                                {{ "common.login.validPassword" | translate}}
                            </div>
                        </div>
                        <input type="text" id="authcode" class="form-control" *ngIf="this.tfaFlag" name="authcode"
                               autocomplete="off" #authcode="ngModel" [(ngModel)]="userObject.authcode"
                               placeholder="Two-Factor Auth code" title="Please enter the code" required/>
                        <button class="btn btn-lg btn-success btn-block btn-signin" type="submit"
                                style="background: #00a5d7">
                            {{ "common.login.login" | translate}}
                        </button>
                        <p style="text-align:center;">
                            <a routerLink="/resetPassword" class="link"> {{ "common.login.forget" | translate}}</a>&#160;&#160;&#160;&#160;
                            {{ "common.login.newAccount" | translate}}
                            <a (click)="closeButtonRegister()" routerLink="/user-register"
                               class="link">{{ "common.login.register" | translate}}</a>
                        </p>
                        <p class="text-danger" style="text-align:center;" *ngIf="errorMessage">
                            {{ errorMessage }}
                        </p>
                    </form>
                    <hr style="border-top: 1px solid #eee;"/>
                    <!-- <div class="row">
                                      <div class="col-6">
                                          <button class="loginBtn loginBtn--facebook">
                                              Login with Facebook
                                          </button>
                                      </div>
                                      <div class="col-6 text-right">
                                          <button class="loginBtn loginBtn--google">
                                              Login with Google
                                          </button>
                                      </div>
                                  </div> -->
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Content -->
                <img src="assets/img/booking.png" style="width: 100%; height: auto;" alt="Booking-logo"/>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Thống kê</h5>

                <ul class="list-unstyled">
                    <li>
                        <!--<span>{{summary.placeCount}} </span>--><span *ngIf="summary">100 </span><a >Địa
                        điểm du lịch</a>
                    </li>
                    <li>
                        <span *ngIf="summary">{{summary.hotelCount}} </span><a >Khách sạn</a>
                    </li>
                    <li>
                        <span *ngIf="summary">{{summary.userCount}} </span><a >Thành viên</a>
                    </li>
                    <li>
                        <span *ngIf="summary">{{summary.connectCount}} </span><a >Lượt truy cập</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Về chúng tôi</h5>

                <ul class="list-unstyled">
                    <li>
                        <a style="cursor: pointer" routerLink="/about">Giới thiệu</a>
                    </li>
                    <li>
                        <a routerLink="/about">Tuyển dụng</a>
                    </li>
                    <li>
                        <a routerLink="/about">Quy định</a>
                    </li>
                    <!--                    <li>-->
                    <!--                        <a href="#!">Link 4</a>-->
                    <!--                    </li>-->
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-3 mx-auto">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Đối tác của chúng tôi</h5>

                <ul class="list-unstyled">
                    <li>
                        <a >Khách sạn</a>
                    </li>
                    <li>
                        <a >Đối tác liên kết</a>
                    </li>
                    <!--                    <li>-->
                    <!--                        <a href="#!">Link 3</a>-->
                    <!--                    </li>-->
                    <!--                    <li>-->
                    <!--                        <a href="#!">Link 4</a>-->
                    <!--                    </li>-->
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!--    <hr>-->

    <!-- Call to action -->
    <!--    <ul class="list-unstyled list-inline text-center py-2">-->
    <!--        <li class="list-inline-item">-->
    <!--            <h5 class="mb-1">Register for free</h5>-->
    <!--        </li>-->
    <!--        <li class="list-inline-item">-->
    <!--            <a href="#!" mdbBtn color="danger" rounded="true" mdbWavesEffect>Sign up!</a>-->
    <!--        </li>-->
    <!--    </ul>-->
    <!-- Call to action -->

    <!--    <hr>-->

    <!-- Social buttons -->
    <!--    <ul class="list-unstyled list-inline text-center">-->
    <!--        <li class="list-inline-item">-->
    <!--            <a mdbBtn floating="true" color="fb" class="mx-1" mdbWavesEffect>-->
    <!--                <mdb-icon fab icon="facebook"></mdb-icon>-->
    <!--            </a>-->
    <!--        </li>-->
    <!--        <li class="list-inline-item">-->
    <!--            <a mdbBtn floating="true" color="tw" class="mx-1" mdbWavesEffect>-->
    <!--                <mdb-icon fab icon="twitter"></mdb-icon>-->
    <!--            </a>-->
    <!--        </li>-->
    <!--        <li class="list-inline-item">-->
    <!--            <a mdbBtn floating="true" color="gplus" class="mx-1" mdbWavesEffect>-->
    <!--                <mdb-icon fab fab icon="google-plus"></mdb-icon>-->
    <!--            </a>-->
    <!--        </li>-->
    <!--        <li class="list-inline-item">-->
    <!--            <a mdbBtn floating="true" color="li" class="mx-1" mdbWavesEffect>-->
    <!--                <mdb-icon fab icon="linkedin"></mdb-icon>-->
    <!--            </a>-->
    <!--        </li>-->
    <!--        <li class="list-inline-item">-->
    <!--            <a mdbBtn floating="true" color="dribbble" class="mx-1" mdbWavesEffect>-->
    <!--                <mdb-icon fab icon="dribbble"></mdb-icon>-->
    <!--            </a>-->
    <!--        </li>-->
    <!--    </ul>-->
    <!-- Social buttons -->

    <!-- Copyright -->
    <!--    <div class="footer-copyright text-center py-3">© 2020 Copyright:-->
    <!--        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>-->
    <!--    </div>-->
    <!-- Copyright -->

</footer>
<!-- Footer -->
<app-scroll-top></app-scroll-top>
