<nav class="navbar navbar-default fixed-top" style="box-shadow: none;background: none;" id="check-point">
    <img src="assets/img/logo.png" style="width: 250px; height: 30px;margin-left: 10px;" alt="Booking.com"/>
    <div class="container" style="float: right;">
        <div class="col-3">

        </div>
        <div class="col-8">
            <a class="navbar1" href="javascript:void(0)" *ngIf="checkLanguage"
               (click)="useLanguage('en')"> <img src="/assets/img/en.png"
                                                 style="width: 30px;height: auto; padding-right: 3px;"
                                                 (click)="useLanguage('en')" alt=""/></a>
            <a class="navbar1" href="javascript:void(0)" *ngIf="!checkLanguage"
               (click)="useLanguage('vi')"><img src="/assets/img/vi.png"
                                                style="width: 30px;height: auto; padding-right: 3px;"
                                                (click)="useLanguage('vi')" alt=""/></a>
            <a class="navbar1">{{ "book.promotion" | translate }}</a>
            <a class="navbar1">{{ "book.room" | translate }}</a>
            <a class="navbar1">{{ "index.home" | translate }}</a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
<app-scroll-top></app-scroll-top>
