<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="">
                                    <th>Stt</th>
                                    <th>Avatar</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Vai trò</th>
                                    <th>Phân quyền</th>
                                    <th>Khóa TK</th>
                                    <th>
                                        <a class="nav-link" routerLink="/user-register">
                                            <i class="material-icons">add</i>
                                        </a>
                                    </th>
                                </thead>
                                <tbody *ngFor="let user of users; let i=index">
                                    <tr style="background: #d6d2d2;">
                                        <td>{{user.id}}</td>
                                        <td>
                                            <img src="../../assets/img/luffy.png" alt="Avatar"
                                                class="md-avatar rounded">
                                        </td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.role}}</td>
                                        <td *ngIf="admin">
                                            <button title="Phân quyền tài  khoản" class="btn btn-outline-dark"
                                                *ngIf="user.warningReport!==0">
                                                <span class="ng-scope">Hạ cấp</span>

                                            </button>
                                            <ng-template>
                                                <button title="Phân quyền tài  khoản" class="btn btn-outline-primary">
                                                    <span class="ng-scope">Quản trị</span>
                                                </button>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <button class="button2" title="Khóa tài khoản" *ngIf="user.status===1">
                                                <span class="ng-scope"></span>Khóa
                                            </button>
                                            <ng-template>
                                                <button class="button2" title="Mở khóa tài khoản" class="button1">
                                                    <span class="ng-scope"></span>Mở khóa
                                                </button>
                                            </ng-template>
                                        </td>
                                        <td>
                                            <a routerLink="/hotel-access">
                                                <i class="material-icons">edit</i>
                                            </a>
                                            <a routerLink="/hotel-access">
                                                <i class="material-icons">delete</i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>