<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title mt-0"> Table on Plain Background</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>
                    <div class="example-header">
                        <mat-form-field>
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
                        </mat-form-field>
                    </div>
                    <div>
                        <button mat-icon-button color="warn"
                                (click)="this.route.navigate(['/user-register'])">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div class="card-body">
                        <mat-table [dataSource]="dataSource" matSort>
                            <!-- stt Column -->
                            <ng-container matColumnDef="id">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>ID</mat-header-cell>
                                <mat-cell
                                        *matCellDef="let row ; index as i"> {{paginator.pageSize * paginator.pageIndex + i + 1}}  </mat-cell>
                            </ng-container>

                            <!-- avatar Column -->
                            <ng-container matColumnDef="avatar">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Avatar</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <img [src]="'http://localhost:8000/api/images/'+row.imageUrl" alt="Avatar"
                                         class="md-avatar rounded">
                                </mat-cell>
                            </ng-container>

                            <!-- name Column -->
                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Tên thành viên</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.name}}</mat-cell>
                            </ng-container>

                            <!-- email Column -->
                            <ng-container matColumnDef="email">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.email}} </mat-cell>
                            </ng-container>

                            <!-- role Column -->
                            <ng-container matColumnDef="role">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Vai trò</mat-header-cell>
                                <mat-cell *matCellDef="let row"> {{row.role}} </mat-cell>
                            </ng-container>

                            <!-- actionRole Column -->
                            <ng-container *ngIf="admin" matColumnDef="actionRole">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Phân quyền</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button *ngIf="row.role == 'Quản trị KS'" (click)="openDialog(row,0)"
                                            title="Phân quyền tài  khoản"
                                            mat-icon-button style="color: red">
                                        <mat-icon>trending_down</mat-icon>
                                    </button>
                                    <button *ngIf="row.role == 'Thành viên'" (click)="openDialog(row,1)"
                                            title="Phân quyền tài  khoản"
                                            mat-icon-button style="color: green">
                                        <mat-icon>admin_panel_settings</mat-icon>
                                    </button>
                                    <button *ngIf="row.role == 'Admin'" (click)="openDialog(row,-1)"
                                            title="Phân quyền tài  khoản"
                                            mat-icon-button style="color: gray">
                                        <mat-icon>check_circle</mat-icon>
                                    </button>
                                </mat-cell>
                            </ng-container>

                            <!-- block Column -->
                            <ng-container matColumnDef="block">
                                <mat-header-cell *matHeaderCellDef mat-sort-header>Khóa TK</mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <button *ngIf="row.status===1; else other" (click)="openDialog(row,2)"
                                            class="btn btn-outline-danger btn-action"
                                            title="Khóa tài khoản">
                                        <span class="ng-scope"></span>Khóa
                                    </button>
                                    <ng-template #other>
                                        <button class="btn btn-outline-success btn-action" (click)="openDialog(row,3)"
                                                title="Mở khóa tài khoản">
                                            <span class="ng-scope"></span>Mở khóa
                                        </button>
                                    </ng-template>
                                </mat-cell>
                            </ng-container>

                            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                        </mat-table>
                        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
