<!--<div class="d-flex align-items-center justify-content-center" style="margin-top: 10%">-->
<!--    <p>{{message}}</p>-->
<!--    <a routeLink="/index" title="Chào mừng bạn đến với website Đặt phòng"><img-->
<!--            style="width: 1200px; height: 600px; margin-left: 100px;" src="assets/img/wallpaper2you_259268.jpg">Welcome</a>-->
<!--</div>-->
<div class="text-center d-flex align-items-center justify-content-center mt-5" >
    <div class="geeks" style="margin-top: 3%">
        <h1 class="dep">{{message}}</h1>
        <a routerLink="/index" title="Chào mừng bạn đến với website Đặt phòng">
            <img src="assets/img/wallpaper2you_259268.jpg" alt="Welcome"/>
           <span class="span dep">Welcome to booking.hotel.2020.com</span>
        </a>
    </div>
</div>

