<div class="container" style="margin:100px 35%; padding: 50px 50px;">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="text-center">
                        <h3><i class="fa fa-lock fa-4x"></i></h3>
                        <h2 class="text-center">Bạn quên mật khẩu?</h2>
                        <p>Bạn có thể reset mật khẩu mặc định ở đây</p>
                        <div class="panel-body">

                            <form id="register-form" role="form" autocomplete="off" class="form" method="post"
                                  (ngSubmit)="getPassword()" [formGroup]="registerForm">

                                <div class="form-group">
                                    <div class="input-group">
                                        <input type="text" id="email" class="form-control" name="email" formControlName="email"
                                               [ngClass]="{ 'is-invalid': submitted && f.email.errors }" [(ngModel)]="userObject.email"
                                               placeholder="Email" title="Please enter the email" autocomplete="off" required autofocus />
                                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                            <div *ngIf="f.email.errors.required">Vui lòng không để trống Email</div>
                                            <div *ngIf="f.email.errors.email">Mail chưa hợp lệ!</div>
                                        </div>
                                        <br>

                                    </div>
                                </div> {{message}}
                                <div class="form-group">
                                    <input name="recover-submit" class="btn btn-lg btn-primary btn-block" value="Reset Password"
                                           style="background: rgb(24, 179, 4);padding: 5px auto; height: 50px;" type="submit">
                                </div>

                                <input type="hidden" class="hide" name="token" id="token" value="">
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
