<div class="main-profile">
  <div class="container-fluid">
    <div class="row" style="background: #0086f3;height: 100px">
      <div class="col-md-5">
        <h2 class="card-title">Thông tin cá nhân</h2>
      </div>
    </div>
    <div class="row">
      <form style="width: 100%" [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <div class="row">
          <div class="col-md-3">
            <div style="padding-top: 30px;">
              <label class="hoverable" for="fileInput" style="height: 200px;
            width: 200px; margin: 0 auto">
                <img [src]="url ? url : 'https://www.w3schools.com/howto/img_avatar.png'"
                  style="border: 1px solid #ffffff;">
              </label>
              <br />
              <input id="fileInput" type='file' (change)="onSelectFile($event)">
              <div>
              </div>
              <div class="card-body">
                <h6>Nhấn để cập nhật ảnh đại diện</h6>
              </div>
            </div>
          </div>
          <div class="col-md-1"></div>
          <div class="col-md-6" style="padding: 0 35px;">
            <div class="row">
              <h2 style="text-transform: none;font-weight: 400;">Chỉnh sửa hồ sơ</h2>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p class="input-title">Email:</p>
              </div>
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput disabled formControlName="email" name="email" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p class="input-title">Tên người dùng:</p>
              </div>
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput formControlName="name" name="name" type="text">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
                <p class="input-title">Năm sinh:</p>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-select matNativeControl formControlName="birthday" name="birthday">
                    <mat-option *ngFor="let year of years" [value]="year">
                      {{year}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <p class="input-title">Giới tính:</p>
              </div>
              <div class="col-md-3">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="gender" name="gender">
                    <mat-option *ngFor="let gender of genders" [value]="gender.value">
                      {{gender.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p class="input-title">Tình trạng hôn nhân:</p>
              </div>
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <mat-select formControlName="materialStatus" name="materialStatus">
                    <mat-option *ngFor="let material of materials" [value]="material.value">
                      {{material.viewValue}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p class="input-title">Chữ kí:</p>
              </div>
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <input matInput type="text" formControlName="signature" name="signature">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <p class="input-about">Giới thiệu bản thân:</p>
              </div>
              <div class="col-md-8">
                <mat-form-field class="example-full-width">
                  <textarea matInput placeholder="" formControlName="introduction" name="introduction"></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="row">
          <div class="submit">
            <button mat-raised-button type="submit" class="btn">Lưu thay đổi</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>