<div class="main-content">
    <div class="container-fluid">
        <div class="row" style="background-color: rgb(0, 153, 213); ">
            <div class="col-md-5">
                <h2 style="color: #403131; font-weight: 400;">{{ "user.profile" | translate}}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <app-image [imageProp]="imageProp" [url]="url" (imageSrcUrl)="getImageSrc($event)"></app-image>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6">
                <mat-tab-group>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            {{ "user.profile.changeInfo" | translate}}
                        </ng-template>
                        <div class="main-content">
                            <form style="width: 100%; " [formGroup]="profileForm" (ngSubmit)="updateProfile()">
                                <div class="row">
                                    <h3 style="text-transform: none;font-weight: 400;">{{ "user.profile.edit" | translate}}</h3>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "common.userRegister.email" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width" disabled="true">
                                            <input matInput  formControlName="email" name="email" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "common.userRegister.username" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput formControlName="name" name="name" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "common.userRegister.phone" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput formControlName="phone" name="phone" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "common.userRegister.address" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput formControlName="address" name="address" type="text">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p class="input-title">{{ "user.profile.birthday" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-select matNativeControl formControlName="birthday" name="birthday">
                                                <mat-option *ngFor="let year of years" [value]="year">
                                                    {{year}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-lg-3">
                                        <p class="input-title">{{ "user.profile.gender" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <mat-form-field class="example-full-width">
                                            <mat-select formControlName="gender" name="gender">
                                                <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                                    {{gender.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "user.profile.materialStatus" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <mat-select formControlName="materialStatus" name="materialStatus">
                                                <mat-option *ngFor="let material of materials" [value]="material.value">
                                                    {{material.viewValue}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "user.profile.signature" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput type="text" formControlName="signature" name="signature">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-about">{{ "user.profile.introduction" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <textarea matInput placeholder="" formControlName="introduction"
                                                      name="introduction"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="submit">
                                        <button mat-raised-button type="submit" class="btn btn-outline-primary">
                                            {{ "user.profile.saveChang" | translate}}
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            {{ "user.profile.changPassword" | translate}}
                        </ng-template>
                        <div class="main-content">
                            <form style="width: 100%;" [formGroup]="changePasswordForm" (ngSubmit)="changePassword()">
                                <div class="row">
                                    <h3 style="text-transform: none;font-weight: 400;">{{ "user.profile.changPassword" | translate}}</h3>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "common.userRegister.oldPassword" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput disabled formControlName="oldPassword" name="oldPassword"
                                                   type="password"
                                                   [ngClass]="{ 'is-invalid': passSubmitted && f.oldPassword.errors }"
                                                   [placeholder] = "'common.userRegister.oldPassword' | translate"
                                                   title="Vui lòng điền mật khẩu cũ">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-6">
                                        <div *ngIf="passSubmitted && f.oldPassword.errors" class="is-invalid">
                                            <div *ngIf="f.oldPassword.errors.required">
                                                <i class="material-icons message-error">error</i>
                                                <span class="message-error">
                                                    {{ "common.userRegister.errorPasswordOld" | translate}}
                                                </span>
                                            </div>
                                            <div *ngIf="f .oldPassword.errors.minlength">
                                                <i class="material-icons message-error">error</i>
                                                <span class="message-error">
                                                    {{ "common.userRegister.errorPasswordValidate" | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "common.userRegister.newPassword" | translate}}:</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput formControlName="password" name="password" type="password"
                                                   [ngClass]="{ 'is-invalid': passSubmitted && f.password.errors }"
                                                   [placeholder]="'common.userRegister.newPassword' | translate"
                                                   title="Please enter the password">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-6">
                                        <div *ngIf="passSubmitted && f.password.errors" class="is-invalid">
                                            <div *ngIf="f.password.errors.required">
                                                <i class="material-icons message-error">error</i>
                                                <span class="message-error">
                                                    {{ "common.userRegister.errorPasswordNew" | translate}}
                                                </span>
                                            </div>
                                            <div *ngIf="f.password.errors.minlength">
                                                <i class="material-icons message-error">error</i>
                                                <span class="message-error">
                                                    {{ "common.userRegister.errorPasswordValidate" | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4">
                                        <p class="input-title">{{ "common.userRegister.errorPasswordConfirm" | translate}}
                                            :</p>
                                    </div>
                                    <div class="col-lg-6">
                                        <mat-form-field class="example-full-width">
                                            <input matInput formControlName="confirmPassword" name="confirmPassword"
                                                   type="password"
                                                   [ngClass]="{ 'is-invalid': passSubmitted && f.confirmPassword.errors }"
                                                   [placeholder]="'common.userRegister.errorPasswordConfirm' | translate">
                                        </mat-form-field>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-6">
                                        <div *ngIf="passSubmitted && f.confirmPassword.errors" class="is-invalid">
                                            <div *ngIf="f.confirmPassword.errors.required">
                                                <i class="material-icons message-error">error</i>
                                                <span class="message-error">
                                                    {{ "common.userRegister.errorPasswordConfirm" | translate}}
                                                </span>
                                            </div>
                                            <div *ngIf="f.confirmPassword.errors.mustMatch">
                                                <i class="material-icons message-error">error</i>
                                                <span class="message-error">
                                                    {{ "common.userRegister.errorPasswordConfirmFalse" | translate}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="submit">
                                        <button mat-raised-button type="submit" class="btn btn-outline-primary">
                                            {{"user.profile.changPassword"|translate}}
                                        </button>
                                        <p style="text-align:center; color: red;font-size: 12px;">
                                            {{ errorPassMessage }}
                                    </div>
                                </div>
                            </form>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>

        </div>
    </div>
</div>
