<div style="width: 100%; height: 130px; background-color: white"></div>
<div class="main-content">
    <div class="container-fluid" style="margin: 0; padding: 0; background-color: white">
        <div class="row" style="margin: 0; padding: 0">
            <div class="col-lg-1"></div>
            <div class="col-lg-2">
                <div class="row">
                    <div class="col nav-item">
                        <div routerLink="/" style="font-size: 1.3em" class="row hehe">Trang chủ</div>
                        <div routerLink="/about" class="row hehe">&rsaquo; Về Booking Hotel</div>
                        <div routerLink="/rule" class="row hehe">&rsaquo; Quy định</div>
                        <div style="color: #3d5afe;" class="row hehe">&rsaquo; Chính sách</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="row">
                    <div class="col">
                        <h2>Chính sách bảo mật</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col content-text">
                        <p>{{URL}} bảo mật tất cả những thông
                            tin cá nhân của bạn.
                            Bạn cần biết chúng tôi quản lý những thông tin cá nhân tập hợp được từ booking.hotel.com
                            như thế nào. Hãy đọc
                            và tìm hiểu về những quy định bảo mật thông tin sau đây.</p>

                        <p>Việc bạn truy cập, đăng ký, sử dụng {{URL}} có nghĩa rằng bạn đồng ý và chấp
                            nhận ràng buộc bởi các
                            điều
                            khoản của bản quy định bảo mật của chúng tôi.</p>

                        <h5><span style="color:#000000"><strong>Tập hợp thông tin</strong></span></h5>

                        <p><strong>Thông tin cá nhân</strong></p>

                        <p>{{URL}} hoàn toàn miễn phí, bạn không cần phải cung cấp thông tin cá nhân của
                            bạn. {{URL}} chỉ yêu
                            cầu
                            các thông tin cá nhân của bạn như: tên, email và một số thông tin không bắt buộc khác khi
                            bạn muốn tương
                            tác với một số nội dung trên website. Các thông tin cá nhân này sử dụng để
                            {{URL}} nhận diện và liên hệ
                            với bạn khi cần.</p>

                        <h5><strong>Cách thức sử dụng thông tin</strong></h5>

                        <p>Thông thường, chúng tôi sử dụng các thông tin bạn cung cấp chỉ để liên hệ, hồi đáp những câu
                            hỏi hay thực
                            hiện các yêu cầu của bạn.<br>
                            Thông tin cá nhân của bạn sẽ không bị chia sẻ với bất kỳ bên thứ ba nào khi chưa có sự đồng
                            ý của bạn.
                            Nhưng chúng tôi có thể chia sẻ thông tin cho bên đối tác khi có sự đồng ý của bạn</p>

                        <p>Dữ liệu khách hàng của {{URL}} có thể được chuyển nhượng cho người kế thừa hay
                            người được chỉ định để
                            quản lý công ty khi công ty được sát nhập,được mua lại hoặc phá sản.</p>

                        <p><span style="color:rgb(0, 0, 0)"><strong>Bảo đảm an toàn đối với các thông tin thu thập
                  được</strong></span></p>

                        <p>Chúng tôi chỉ tập hợp lại các thông tin cá nhân trong phạm vi phù hợp và cần thiết cho mục
                            đích phục vụ
                            đúng đắn của chúng tôi. Và chúng tôi duy trì các biện pháp thích hợp nhằm bảo đảm tính an
                            toàn, nguyên
                            vẹn, độ chính xác, và tính bảo mật những thông tin mà bạn đã cung cấp. Ngoài ra, chúng tôi
                            cũng có những
                            biện pháp thích hợp để đảm bảo rằng bên thứ ba cũng sử dụng các biện pháp bảo đảm an toàn
                            cho các thông
                            tin mà chúng tôi cung cấp cho họ nếu có.</p>

                        <h5><span style="color:#000000"><strong>Sửa đổi và xoá thông tin tài khoản</strong></span></h5>

                        <p>Bạn có thể sửa đổi, cập nhật thông tin tài khoản của bạn bất cứ lúc nào. Cho dù, bạn tự xoá
                            các thông tin
                            đó đi nhưng chúng tôi có thể phục hồi những thông tin đó từ cơ sở dữ liệu của chúng tôi để
                            giải quyết các
                            tranh chấp, thi hành bản thoả thuận người sử dụng, hay vì các yêu cầu kỹ thuật, pháp lý&nbsp;
                            liên quan
                            đến sự an toàn và những hoạt động của trang website chúng tôi.</p>

                        <h5><span style="color:#000000"><strong>Điều khoản thay đổi</strong></span></h5>

                        <p>Chúng tôi có quyền thay đổi nội dung của các điều khoản này.</p>

                        <p>Xin thường xuyên xác nhận để biết về các điều khoản thay đổi trong bản quy định bảo mật của
                            chúng tôi.
                            Thêm vào đó chúng tôi sẽ thông báo cho bạn bằng email khi có những thay đổi quan trọng về
                            cách sử dụng
                            liên quan các thông tin cá nhân của bạn. Trong trường hợp bạn từ chối các điều khoản thay
                            đổi có trong
                            {{URL}}, xin liên hệ chúng tôi theo địa chỉ email&nbsp;<a
                                    routerLink="/policy">booking.hotel.com.2020@gmail.com</a>. Khi bạn tiếp tục sử
                            dụng
                            trang
                            web này, có nghĩa là bạn đồng ý và chấp nhận bị ràng buộc với các thay đổi trong bản quy
                            định bảo mật trực
                            tuyến này.</p>

                        <h5><span style="color:#000000"><strong>Chính sách hủy phòng</strong></span></h5>

                        <p>Đối với khách sạn </p>
                        <p> Tuân thủ chặt chẽ theo qui định hợp đồng đã ký
                            Chi tiết: xin liên hệ chúng tôi theo địa chỉ email <a
                                    routerLink="/policy">booking.hotel.com.2020@gmail.com</a>. </p>

                        <p>Đối với khách hàng </p>
                        <p> Khi hủy phòng sẽ căn cứ vào qui định hủy phòng của khách sạn đã nêu.
                        Việc hoàn tiền sẽ được thực hiện sau 1-3 ngày kể từ ngày hủy phòng.
                        </p>
                        <img src="assets/img/pay.png" width="100%" alt="">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
